<div [routerLink]="['colonies']" class="logo-container">
  <div class="logo"></div>
</div>
<div class="separator"></div>
<div class="item">
  <i class="foundation-icon"></i>
  <span *ngIf="hoverStatus" class="name">Foundations</span>
</div>
<div class="separator"></div>
<div class="item">
  <i class="colony-icon"></i>
  <span *ngIf="hoverStatus" class="name">Colonies</span>
</div>
<div class="separator"></div>
<div class="item">
  <i class="browse-icon"></i>
  <span *ngIf="hoverStatus" class="name">Browse</span>
</div>
<div class="separator"></div>
<div class="item">
  <i class="letterbox-icon"></i>
  <span *ngIf="hoverStatus" class="name">Mailbox</span>
</div>
<div class="separator"></div>
<div class="item">
  <i class="settings-icon"></i>
  <span *ngIf="hoverStatus" class="name">Settings</span>
</div>
<div class="separator"></div>
<span class="version">Alpha 1.7</span>

