:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 6rem;
  cursor: pointer;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8.6rem;
  width: 100%;
  cursor: pointer;
  &:hover {
    transition: all .1s;
    i {
      transition: all .1s;
      &:before {
        transition: all .1s;
        height: 5rem;
        width: 5rem;
      }
    }
  }
}

.name {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
}

.colony-icon {
  transition: all .1s;
  &:before {
      transition: all .1s;
      content: '';
      background-image: url('../../app/icons/menu/colony.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 4rem;
      height: 4rem;
  }
}

.settings-icon {
  transition: all .1s;
  &:before {
      transition: all .1s;
      content: '';
      background-image: url('../../app/icons/menu/settings.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 4rem;
      height: 4rem;
  }
}

.browse-icon {
  transition: all .1s;
  &:before {
      transition: all .1s;
      content: '';
      background-image: url('../../app/icons/menu/browse.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 4rem;
      height: 4rem;
  }
}

.foundation-icon {
  transition: all .1s;
  &:before {
      transition: all .1s;
      content: '';
      background-image: url('../../app/icons/menu/foundation.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 4rem;
      height: 4rem;
  }
}

.letterbox-icon {
  transition: all .1s;
  &:before {
      transition: all .1s;
      content: '';
      background-image: url('../../app/icons/menu/letterbox.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 4rem;
      height: 4rem;
  }
}

.profile-icon {
  transition: all .1s;
  &:before {
      transition: all .1s;
      content: '';
      background-image: url('../../app/icons/menu/profile.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 5rem;
      height: 5rem;
  }
}

.version {
  bottom: 2px;
  position: absolute;
  font-weight: bold;
  color: white;
  font-size: .8rem;
  padding: .2rem 0.5rem;
  background-color: #2d2d2d;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 2s;
  transition: all 2s;

  &:hover {
  background-color: #464646;
    transition: all 2s;
  }
}

.separator {
  display: flex;
  width: 100%;
  height: 0.2rem;
  background-color: #363636;
  border-bottom: 0.15rem solid #000000;
}

.logo-container {
  display: flex;
  width: 100%;
  height: 8rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .logo {
    &:before {
      content: '';
      display: flex;
      position: relative;
      background-image: url('../images/antslab-logo-70.png');
      background-repeat: no-repeat;
      background-size: contain;
      width: 5.5rem;
      height: 8rem;
      background-position-x: center;
      cursor: pointer;
    }
  }
}


