@font-face {
    font-family: 'Minion Pro';
    src: url('../../webfonts/MinionPro-Regular.woff2') format('woff2'),
         url('../../webfonts/MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../webfonts/MyriadPro-Black.woff2') format('woff2'),
         url('../../webfonts/MyriadPro-Black.woff') format('woff');
         font-weight: 900;
         font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url('../../webfonts/MyriadPro-Regular.woff2') format('woff2'),
         url('../../webfonts/MyriadPro-Regular.woff') format('woff');
         font-weight: normal;
         font-style: normal;
}

@font-face {
    font-family: 'Minion Pro Bold';
    src: url('../../webfonts/MinionPro-Bold.woff2') format('woff2'),
         url('../../webfonts/MinionPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

