.no-record-icon {
  display: flex;
  background-image: url(../../app/icons/norecord.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 7rem;
  height: 7rem;
}

.antban {
  background-image: url(../../assets/antban.png);
  // width: 12rem;
  margin: auto;
  margin-bottom: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  // margin-top: 2rem;
}

.discord-icon {
  background-image: url(../../assets/discord.png);
  margin: auto;
  margin-bottom: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.youtube-icon {
  display: flex;
  background-image: url(../../app/icons/you.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
}

.recurent-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/recurent.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 1rem;
      height: 1rem;
  }
}

.clock-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/clock.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 2rem;
      height: 2rem;
  }
}

.task-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/tasks.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 8rem;
      height: 8rem;
  }
}

.island-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/coconut-tree.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 8rem;
      height: 8rem;
  }
}

.piggybank-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/piggybank.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 6rem;
      height: 6rem;
  }
}

.donation-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/donate.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 2.8rem;
      height: 2.8rem;
      margin-right: .8rem;
  }
}

.roadmap-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/direction.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 2.8rem;
      height: 2.8rem;
      margin-right: .8rem;
  }
}

.btn-blue {
  background-color: #0382cc;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
    border-bottom: 0.2rem solid #234e68;
    font-size: 1.4rem;

    &:hover {
    background-color: #0768a0;
    border-bottom: 0.2rem solid #234e68;
    }
}

.patreon-logo {
  margin-bottom: 1rem;
  margin: auto;
  content: '';
  background-image: url('../../assets/patreon-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 11rem;
  height: 3rem;
}

.trello-logo {
  margin-bottom: 1rem;
  content: '';
  background-image: url('../../assets/trello-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 10rem;
  height: 4rem;
}

.news-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/news.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 4rem;
      height: 4rem;
  }
}

.users-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/users.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 4rem;
      height: 4rem;
  }
}

.user-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/user.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 7rem;
      height: 7rem;
  }
}

.user-pending-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/pendinguser.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 7rem;
      height: 7rem;
  }
}

.colonies-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/colonies.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 7rem;
      height: 7rem;
  }
}


.power-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/power.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      position: relative;
      width: 3rem;
      height: 3rem;
  }
}

.comments-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/comments.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 1.5rem!important;
      height: 1.5rem!important;
  }
}


.star-icon-grey {
  &:before {
      content: '';
      background-image: url('../../app/icons/star.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 1.4rem!important;
      height: 1.4rem!important;
      filter:grayscale(100%);
      margin-left:.3rem
  }
}

.star-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/star.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 1.4rem!important;
      height: 1.4rem!important;
  }
}

.crown-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/crown.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      position: relative;
      width: 3rem;
      height: 3rem;
  }
}

.europa-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/regions/europa.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      position: absolute;
      top: 0;
      left: 1rem;
      width: 2rem;
      height: 2rem;
  }
}

.africa-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/regions/africa.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      position: absolute;
      top: 0;
      left: 1rem;
      width: 2rem;
      height: 2rem;
  }
}

.asia-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/regions/asia.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      position: absolute;
      top: 0;
      left: 1rem;
      width: 2rem;
      height: 2rem;
  }
}

.china-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/regions/china.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      position: absolute;
      top: 0;
      left: 1rem;
      width: 2rem;
      height: 2rem;
  }
}

.america-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/regions/america.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      position: absolute;
      top: 0;
      left: 1rem;
      width: 2rem;
      height: 2rem;
  }
}

.australia-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/regions/australia.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      position: absolute;
      top: 0;
      left: 1rem;
      width: 2rem;
      height: 2rem;
  }
}

.india-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/regions/india.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
      position: absolute;
      top: 0;
      left: 1rem;
      width: 2rem;
      height: 2rem;
  }
}

.breedsheet-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/breedsheet.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 7rem;
      height: 7rem;
  }
}

.review-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/review.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 12rem;
      height: 12rem;
      margin: 3rem;
  }
}


.delete-trash-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/trash-white.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 3rem;
      height: 3rem;
  }
}

.padlock-icon {
  &:before {
    content: '';
    background-image: url('../../app/icons/padlock.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 2.5rem;
  }
}

.medal-first-icon {
  &:before {
    content: '';
    background-image: url('../../app/icons/concours/medal-first.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 4rem;
  }
}

.gift-one-icon {
  cursor: pointer;
  height: 10rem;
  width: 10rem;
  &:before {
    content: '';
    background-image: url('../../app/icons/concours/gift-one.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    position: relative;
    width: 10rem;
    height: 10rem;
}
}

.gift-two-icon {
  cursor: pointer;
  &:before {
    content: '';
    background-image: url('../../app/icons/concours/gift-two.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    position: relative;
    width: 8rem;
    height: 8rem;
  }
}

.gift-three-icon {
  cursor: pointer;
  &:before {
    content: '';
    background-image: url('../../app/icons/concours/gift-three.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    position: relative;
    width: 7rem;
    height: 7rem;
  }
}

.potdemiel-icon {
  &:before {
    content: '';
    background-image: url('../../app/icons/potdemiel.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 8rem;
    height: 8rem;
  }
}

.error-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/error.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 8rem;
      height: 8rem;
      margin: 3rem;
  }
}

.notif-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/bell-2.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 3rem;
      height: 3rem;
      margin: 0 1rem;
      cursor:pointer;
  }
}

.colony-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/anthill.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 8rem;
      height: 8rem;
  }
}

.eye-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/eye.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 2rem;
      height: 2rem;
  }
}

.remove-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/remove.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 2rem;
      height: 2rem;
  }
}

.mail-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/mail.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 13rem;
      height: 13rem;
      margin: 1.5rem;
  }
}

.breedsheetcreator-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/breedsheetcreator.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 12rem;
      height: 12rem;
      margin: 3rem;
  }
}

.success-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/success.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 8rem;
      height: 8rem;
      margin: 3rem;
  }
}

.calendar-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/calendar.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 2rem;
      height: 2rem;
      margin: .2rem 0 0;
  }
}

.gyne-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/gyne.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 5rem;
      height: 4.5rem;
  }
}

.caret-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/caret.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 1rem;
      height: 1rem;
      position: relative;
      cursor: pointer;
      top: .2rem;
      left: .5rem;
  }
}

.birthday-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/birthday-cake.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 2rem;
      height: 2rem;
  }
}

.temperature-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/temperature.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
  }
}

.polymorphism-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/polymorphism.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 5rem;
      height: 5rem;
  }
}

.nopolymorphism-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/nopolymorphism.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 5rem;
      height: 5rem;
  }
}

.cold-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/cold.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
  }
}

.geography-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/geography.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
  }
}

.food-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/food.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 4rem;
      height: 4rem;
  }
}

.polygyne-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/polygyne.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      top: .2rem;
  }
}

.claustral-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/claustral.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
  }
}

.drinker-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/drinker.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 2rem;
      height: 2rem;
      margin-right: .8rem;
  }
}

.driller-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/driller.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
  }
}

.behavior-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/behavior.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
  }
}

.see-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/see.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
  }
}

.diapause-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/winter.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
  }
}


.meta-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/metabolism.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 3.5rem;
      height: 3.5rem;
  }
}

.humidity-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/humidity.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 3rem;
      height: 3rem;
  }
}

.reset-icon {
    &:before {
        content: '';
        background-image: url('../../app/icons/reset.svg');
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        width: 1.7rem;
        height: 1.7rem;
    }
}

.options-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/options.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      top: .2rem;
  }
}

.delete-icon {
  &:before {
      content: '';
      background-image: url('../../app/icons/delete.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 1.2rem;
      height: 1.2rem;
  }
}

.close-icon-white {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 36rem;
  top: -2rem;
  right: -1rem;
  position: absolute;
  cursor: pointer;
  &:before {
      content: '';
      background-image: url('../../app/icons/close-white.svg');
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      position: relative;
      width: 1rem;
      height: 1rem;
  }
}

.close-icon {
  &:before {
    content: '';
    background-image: url('../../app/icons/close.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 1rem;
    top: .2rem;
    height: 1rem;
  }
}

.edit-icon {
  &:before {
    content: '';
    background-image: url('../../app/icons/pen-edit.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .3rem;
  }
}

.parameters-icon {
  &:before {
    content: '';
    background-image: url('../../app/icons/parameters.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: .3rem;
  }
}

.add-icon {
  &:before {
    content: '';
    background-image: url('../../app/icons/add-grey.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
    transition: all .3s;
  }
  &:hover {
    &:before {
      rotate: (200deg);
      background-image: url('../../app/icons/add-green.svg');
      transition: all .2s;
    }
  }
}

.dots-icon {
  &:before {
    content: '';
    background-image: url('../../app/icons/dots-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    transition: all .1s;
    cursor: pointer;
  }
}

.pen-black-icon {
  &:before {
    z-index:1;
    content: '';
    background-image: url('../../app/icons/edit-black.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    transition: all .1s;
    cursor: pointer;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    right: .7rem;
    justify-content: center;
    top: .7rem;

    &:hover {
      &:before {
        content: '';
        background-image: url('../../app/icons/edit-green.svg');
      }
    }
  }
}
