@import '../../styles/global/colors';
@import '../../styles/global/mixins';

.island-icon {
  &:before {
    width: 3rem;
    height: 3rem;
  }
}

.notif-count {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 360px;
  background-color: #d74444;
  top: 5px;
  right: 10px;
  position: absolute;
  cursor:pointer;
  span {
    color:white;
    font-size:10px

  }
}

.notif-icon {
  &:hover {
    span {
      color:white!important
    }
  }
}

.arrow-up {
  top: 43px;
  left: 12.5px;
  width: 0;
  z-index: 9;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  position: absolute;
  border-bottom: 12px solid #efefef;
  box-shadow: 0px 0px 9px 6px rgb(104 104 104 / 41%);
}

.notif-block {
  display: flex;
  &:before {
    content: "";
    top: 21px;
    right: 159px;
    width: 0;
    z-index: 14;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    position: absolute;
    border-bottom: 12px solid #efefef;
  }

  @include breakpoint('small') {
    &:before {
      right: 124px;
    }
  }

}

.notif-display {
  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-track {
    background: #6767675e;
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #63d745;
    border-radius: 5rem;
    border-bottom: 0.2rem solid #468f33;
    cursor: pointer;
  }

  position: relative;
  display: flex;
  position: absolute;
  background-color: #efefef;
  border-radius: 0.6rem;
  top: 32px;
  width: 25rem;
  right: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 0px 9px 6px rgb(104 104 104 / 41%);
  max-height: 247px;
  overflow-y: auto;

  @include breakpoint('small') {
    top: 28px;
    width: 30rem;
    right: 0rem;
  }
  span {
    text-align: center;
  }
  .line {
    position: relative;
    min-width: 100%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    height: 80px;
    cursor: pointer;
    padding: .5rem;
    justify-content: flex-start;
    align-items: center;
    transition: all, .5s;

    &:hover {
      background-color: #fff;
      transition: all, .5s;
    }

    .date-icon {
      &:before {
      width: 16px!important;
      height: 16px!important;
      margin-top: .45rem!important;
      margin-right: .6rem;
      }
    }

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: .4rem;

      .date {
        font-style: italic;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        &:hover {
          color: #333;
        }
      }
      .green-btn, .blue-btn {
        font-size: 13px!important;
        max-height: 2.4rem!important;
        padding: .6rem!important;
        display: flex!important;
        align-items: center!important;
        justify-content: center!important;
      }

      .green-btn {
        margin-right: .5rem!important;
        border-top: 2px solid #62d744;

        &:hover {
          border-top: 2px solid #5aac17;
        }
      }

      .blue-btn {
        border-top: 2px solid #0f9ed6;

        &:hover {
          border-top: 2px solid #26b2e9;
        }
      }
    }

    .body {
      width: 100%;
      height: 100%;
      align-items: center;

      span {
        white-space: normal!important;
        line-height: 1.3rem;
        text-align: left;
        font-size: .9rem;
        &:hover {
          color: #333;
        }
      }
    }


  }
  .sep {
    border-bottom: 1px solid #a3a3a3;
    height: 3px;
    background-color: white;
  }
}

:host {
  height: 6.5rem;
  display: flex;
  position: sticky;
  align-items: center;
  padding: 1rem 0 0.5rem 0;
  border-bottom: 0.2rem solid #4a4a4a;
  margin-bottom: 1.5rem;
  top: 0;
  left: 0;
  background-color: #e8e8e8;
  z-index: 7;
  @include breakpoint('small') {
  background-color: white;
  margin-bottom: .5rem;
  position: fixed;
  right: 0;
  margin: 0 1rem;
  margin-left: 6.5rem;
  }

  .debug {
    background-color: #d74444!important;
    border-radius: .8rem!important;
    padding: .5rem!important;
    color: white!important;
    font-size: 11px!important;
    text-transform: uppercase!important;
    margin: 0!important;
  }


  .admin-btn {
    border-bottom: .2rem solid #921818!important;
    background-color: #d74444;
    height: 4rem;
    width: 7rem;
    text-transform: uppercase;
  }

  .header-container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .bread-crumb {
      display: flex;
      align-items: flex-end;
      span {
        font-size: 1.4rem;
        color: #4a4a4a;
        font-weight: bold;
        margin-right: .5rem;
      }

      .current {
        color: #63d745;
      }
    }

    .user-container {
      display: flex;
      align-items: center;
      position: relative;
      min-width: 15rem;
      justify-content: flex-end;

      .action-block {
        display: flex;
        position: absolute;
        background-color: white;
        min-height: 4rem;
        box-shadow: 0px 0px 9px 6px rgb(104 104 104 / 41%);
        padding: 1rem;
        top: 4.5rem;
        right: 5.5rem;
        border-radius: .5rem;
        z-index: 10;
        justify-content: center;

        button {
          text-transform: uppercase;
          margin-right: .5rem;
          border-bottom: .2rem solid #4f9218;
          min-height: 3.5rem;
          min-width: 8rem;
        }


      }

      span {
        font-weight: bold;
        cursor: pointer;
        transition: all .3s;
        white-space: nowrap;
        &:hover {
          transition: all .2s;
          color: #63d745;
        }

        &::first-letter {
          text-transform: capitalize;
        }
      }

      .avatar {
        background-image: url("../../assets/black-ant.png");
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        background-position: center center;
        display: flex;
        width: 4rem;
        height: 4rem;
        min-width: 4rem;
        min-height: 4rem;
        background-color: white;
        border-radius: 36rem;
        border: .1rem solid #63d745;
        margin-left: 2rem;
        background-size: contain;
      }
    }
  }
}

.admin {
  // background-color: #ffdcdc;
  color: #d74444;
}

