<div class="header-container">
  <div class="bread-crumb">
    <!-- <button class="green-btn" (click)="actionOnRequest('CONFIRM')">Confirm</button>
    <button class="red-btn" (click)="actionOnRequest('DELETE')">Delete</button> -->

    <span style="max-width: 60%!important;padding:1rem!important" class='debug'>Un bug majeur en cours de correction affectant la connexion et affichage des colonies est en cours de résolution.
      L'application est actuellement instable. On travaille dessus.</span>
  </div>
  <div *ngIf="(authService.currentUser | async) as user" class="user-container">
    <div *ngIf="isShown" class="action-block animate__animated animate__fadeIn">
      <button class="admin-btn" (click)="goToAdmin()" *ngIf='(authService.currentUser | async).role === "admin"'>Admin</button>
    </div>
    <i style="position:relative" class="notif-icon">
      <!-- *ngIf="notifications.length !== 0" -->
      <!-- {{notification}} -->
      <div  class="notif-count">
        <span>0</span>
      </div>
    </i>
    <!-- <div class="arrow-up"></div> -->

    <!-- <div class="notif-display">
      <div class="w-100" *ngIf="notifications.length !== 0" >
        <div class="w-100" *ngFor="let request of notifications">
          <div class="line">
            <span>{{request.message}}</span>
          </div>
          <div class="sep"></div>
        </div>
      </div>
      <div class="" *ngIf="notifications.length === 0" >
        <span>No notifications</span>
      </div>
    </div> -->

    <span (click)="toggleShow()" class='d-flex align-items-center'>{{ (authService.currentUser | async)?.pseudo}} <i class="caret-icon"></i></span>
    <span (click)="toggleShow()" class='d-flex align-items-center'></span>

    <div class="avatar"
    ></div>
    <!-- [style.background-image]="'url('+(authService.currentUser | async).picture+')'" -->

  </div>
    <div *ngIf="!(authService.currentUser | async)" class="user-container">
    <div style="top:5.5rem;right:0" *ngIf="isShown" class="action-block animate__animated animate__fadeIn">
      <button (click)="toggleShow()" routerLink="/login">Login</button>
      <button (click)="toggleShow()" routerLink="/signup">Signup</button>
    </div>
    <div (click)="toggleShow()" style='cursor:pointer' class="avatar"></div>
    <i (click)="toggleShow()" class="caret-icon"></i>
  </div>
</div>
