<div class="row">
  <div class="login-container col-sm-12">
  <div class="login">
    <div class="banner animate__animated animate__flipInX animate__delay-1s"></div>
    <form style='margin:auto' [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="animate__animated animate__fadeInDownBig login-block form-group col-md-8 col-lg-5">
      <div class="head">
        <div class="log">
          <i class="loguser"></i>
          <span>Login</span>
        </div>
      </div>
      <div class="separator"></div>
      <div class="body">
       <div class="d-flex flex-column w-100">
        <label for="email">E-mail</label>
        <input name="email" placeholder="E-mail" class="form-control mb-4" type="email" formControlName="email" />
       </div>
       <div class="d-flex flex-column w-100">
        <label for="password">Password</label>
        <input name="password" placeholder="password" class="form-control mb-4 custom-field" type="password" formControlName="password" />
       </div>
      </div>
      <div class="foot w-100">
        <button class="green-btn log-button mt-4" type="submit">ENTER APPLICATION</button>
        <span class="href">Not registered ? <span (click)="register()" class="link">Create an account</span></span>
      </div>
    </form>
  </div>
</div>


  <div *ngIf="loading" class="spinner-container">
    <div class="loading"></div>
  </div>




