<form *ngIf='!currentMode' style='margin:auto' [formGroup]="taskForm" (ngSubmit)="addTask()" autocomplete="off" class="form-group">

  <div class="form-row">
    <div class="col-md-4">
      <label for="title">Select a task</label>
    </div>
    <div class="col-md-3">
      <label for="title">Duration</label>
    </div>
    <div class="col-md-2 switch">
      <label for="title">Recurent</label>
    </div>
    <div class="col-md-2 switch">
      <label for="title">Complete</label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <select formControlName='title' class="form-control" id="titles">
        <option *ngFor="let optionsTask of optionsTasks" [ngValue]="optionsTask">{{optionsTask}}</option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <select formControlName='duration' class="form-control" id="duration">
        <option *ngFor="let optionsDuration of optionsDurations" [ngValue]="optionsDuration">{{optionsDuration}} {{optionsDuration == 1 ? 'minute' : 'minutes'}}</option>
      </select>
    </div>

    <div class="form-group col-md-2 switch">
      <div class="on-off-toggle">
        <input formControlName='recurent' class="on-off-toggle__input" type="checkbox" id="recurent" />
        <label for="recurent" class="on-off-toggle__slider"></label>
      </div>
    </div>

    <div class="form-group col-md-2 switch">
      <div class="on-off-toggle">
        <input formControlName='toDo' class="on-off-toggle__input" type="checkbox" id="todo" />
        <label for="todo" class="on-off-toggle__slider"></label>
      </div>
    </div>
  </div>

  <div *ngIf="recurent.value"  class="form-group ">
    <label>Routine is every:</label>

    <div style="justify-content: space-between;" class="d-flex">


      <div class="d-flex flex-wrap justify-content-between animate__animated animate__flipInX delay-03">
        <div class="form-check form-check-inline">
          <input formControlName='recurence' name='recurence' value='day' class="form-check-input" type="radio" id="day">
          <label class="form-check-label" for="day">Day</label>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-between animate__animated animate__flipInX delay-05">
        <div class="form-check form-check-inline">
          <input formControlName='recurence' name='recurence' value='week' class="form-check-input" type="radio" id="week">
          <label class="form-check-label" for="week">Week</label>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-between animate__animated animate__flipInX delay-08">
        <div class="form-check form-check-inline">
          <input formControlName='recurence' name='recurence' value='15 days' class="form-check-input" type="radio" id="midMonth">
          <label class="form-check-label" for="midMonth">15 Days</label>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-between animate__animated animate__flipInX delay-1-1">
        <div class="form-check form-check-inline">
          <input formControlName='recurence' name='recurence' value='month' class="form-check-input" type="radio" id="month">
          <label class="form-check-label" for="month">Month</label>
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-between animate__animated animate__flipInX delay-1.3">
        <div class="form-check form-check-inline">
          <input formControlName='recurence' name='recurence' value='year' class="form-check-input" type="radio" id="year">
          <label class="form-check-label" for="year">Year</label>
        </div>
      </div>
    </div>
  </div>















  <!-- <div *ngIf="recurent.value"  class="form-group ">
    <label>Routine is every:</label>
    <div class="d-flex flex-wrap justify-content-between animate__animated animate__flipInX delay-03">
      <div class="form-check">
        <input formControlName='day' class="form-check-input" type="checkbox" id="day">
        <label class="form-check-label" for="day">
          Day
        </label>
      </div>

      <div class="form-check animate__animated animate__flipInX delay-03">
        <input formControlName='week' class="form-check-input" type="checkbox" id="week">
        <label class="form-check-label" for="week">
          Week
        </label>
      </div>

      <div class="form-check animate__animated animate__flipInX delay-08">
        <input formControlName='midMonth' class="form-check-input" type="checkbox" id="midMonth">
        <label class="form-check-label" for="midMonth">
          15 Days
        </label>
      </div>

      <div class="form-check animate__animated animate__flipInX delay-1-1">
        <input formControlName='month' class="form-check-input" type="checkbox" id="month">
        <label class="form-check-label" for="month">
          Month
        </label>
      </div>

      <div class="form-check animate__animated animate__flipInX delay-1-">
        <input formControlName='year' class="form-check-input" type="checkbox" id="year">
        <label class="form-check-label" for="year">
          Year
        </label>
      </div>
    </div>
  </div> -->

  <div class="form-group">
    <label for="description">Description</label>
    <textarea  *ngIf="recurent.value" rows="3" placeholder="Give more details about the task" class="form-control" type="text" formControlName="description"></textarea>
    <textarea *ngIf="!recurent.value" rows="6" placeholder="Give more details about the task" class="form-control" type="text" formControlName="description"></textarea>
  </div>

  <div class="d-flex justify-content-between w-100">
    <button type="submit" style="flex-grow:1;margin-right:1.5rem" [disabled]="
    (title.value == '' || title.value == null) ||
    (duration.invalid)"
    class="green-btn" type="submit">Add task</button>

    <button (click)='changeMode()' type="button" style="flex-grow:1" class="red-btn">Cancel</button>
  </div>
</form>
