<div class="row justify-content-center">
  <div class="col-sm-12 activator-container">
    <div class="activator">
      <div *ngIf="!activated" class="unactivated">
        <i class="error-icon"></i>
        <span>{{message}}</span>
        <span>Refresh the page or <a class='green' href=''>contact an administrator</a></span>
      </div>

      <div *ngIf="activated" class="activated">
        <i class="success-icon"></i>
        <span style="font-size: 2rem;margin-bottom: 1rem;">Activation successfull!</span>
        <span style="font-weight: normal">You are now able to use the Fourmislabs application using the login button.</span>
        <span style="font-size: 2.5rem;text-transform: capitalize;" class="green mt-4 mb-4">Happy ant managing !</span>
        <button (click)='moveToLogin()' class="green-btn mt-4" type="button">Login</button>
      </div>
    </div>
  </div>
</div>
