<div class="row">
  <div *ngIf='(colony$ | async) as colony; else loading' class="colony-container col-sm-12">

    <div id="colonyRef" class="colony">
      <app-colony-header [colony]='colony'></app-colony-header>
      <app-colony-species-banner [breedSheet]='breedSheet'></app-colony-species-banner>
      <div class="body row">
        <div class="col-sm-12 col-md-4 col-lg-3">
          <app-counter [colonyId]='colony.id' [counter]='colony.counter'></app-counter>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-6">
          <app-task-manager [colonyId]='colony.id'></app-task-manager>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-container">
    <!-- <div class="la-square-jelly-box la-3x">
      <div></div>
      <div></div>
    </div> -->
    <div class="loading"></div>
  </div>
</ng-template>
