
:host {
  width: 100%;
}
.colony-container {
  height: calc(100vh - 19rem);
}
.chart-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #fff;
}

.chart-box {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #e8e8e8;
  border-bottom: 0.2rem solid #bdbdbd;


}

.colony {
  position: relative;
  background-color: white;
  border-radius: 0.5rem;
  border-bottom: 0.2rem solid #bdbdbd;
  padding: 2rem;
  padding-top: 0;
  // height: 100%;
  min-height: calc(100vh - 9.5rem);
}

.body {
  margin-top: 2rem;
}

