<div class="row">
  <div *ngIf='(colony$ | async) as colony; else loading' class="colony-container col-sm-12">

    <div id="colonyRef" class="colony">
      <app-colony-header [diapauseStatus]="diapauseStatus" [colony]='colony'></app-colony-header>
      <app-colony-species-banner [breedSheet]='breedSheet'></app-colony-species-banner>
      <div class="body row">
        <div class="col-sm-12 col-md-6 col-lg-3">
          <h5>Population statistics</h5>
          <div class="mb-4 chart-box animate__animated animate__flipInX">
          <app-population-stats
          [polyMorph]="colony.counter.polymorph"
          [chartMonoData]="chartMonoData"
          [chartPolyMinorData]="chartPolyMinorData"
          [chartPolyMediumData]="chartPolyMediumData"
          [chartPolyMajorData]="chartPolyMajorData"
          ></app-population-stats>
          </div>
          <app-counter (reloadCounterStats)="refreshChart($event)" [colonyId]='colony.id' [counter]='colony.counter'></app-counter>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-5">
          <app-task-manager [colonyId]='colony.id'></app-task-manager>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <app-diapause *ngIf="breedSheet?.needDiapause" (diapauseChangeStatus)="changeStatus($event)" [sheet]="breedSheet" [colonyId]='colony.id'></app-diapause>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-container">
    <div class="loading"></div>
  </div>
</ng-template>
