<div class="col-sm-12 d-flex header-colony-container p-0">
  <div class="difficulty"
  tooltipClass="antslab-tooltip"
  placement="right"
  ngbTooltip="Difficulty level">
    <div
    *ngFor="let difficulty of difficulties; index as i"
    [ngClass]="{
      'fill': difficulty <= breedSheet?.difficulty,
      'empty': difficulty > breedSheet?.difficulty
    }"
    class="bar"></div>
  </div>

<div class="d-flex flex-column align-items-center">
  <h2 class="colony-name">{{colony.name}}</h2>
  <h6 class="colony-species">{{colony.species}}</h6>
</div>

  <div class="gyne">
    <div *ngIf="!colony.polyGyne || !colony.gyneName === null" class="d-flex align-items-center">
      <i class="gyne-icon"></i>
      <span class="gyne-name">{{colony.gyneName}}</span>
    </div>

    <div *ngIf="colony.polyGyne" class="d-flex">
      <span class='polygyne'>polygyne <span style="color:white" class='font-weight-bold'>x{{colony.polyGyneCount}}</span></span>
    </div>
  </div>


  <div class="dates">
    <i class="birthday-icon"></i>
    <span class="birthdate">{{birthday}} </span>

    <div class='date-details d-flex align-items-center'>
      <span>({{age[0]}}&nbsp;</span>
      <span> {{ age[0] > 1 ? ' days' : 'day'}}</span>
      <span>
        ,
        <span>{{age[1]}}</span>
        <span> {{age[1] > 1 ? 'months' : 'month'}}</span>
      </span>
      <span>
        ,
        <span>{{age[2]}}</span>
        <span> {{age[2] > 1 ? 'years' : 'year'}})</span>
      </span>
    </div>
  </div>

  <div *ngIf="breedSheet?.needDiapause" class="diapause">
    <span>diapause</span>
    <span *ngIf="!diapauseStatus" class="badge-no animate__animated animate__flipInX">innactive</span>
    <span *ngIf="diapauseStatus" class="badge-yes animate__animated animate__flipInX">active</span>
  </div>
  <div *ngIf="!breedSheet?.needDiapause" class="diapause">
    <span class="badge-required">no diapause</span>
  </div>



</div>
