<h5>Diapause</h5>
<div id="diapauseRef" class="diapause-container animate__animated animate__slideInRight">
  <app-diapause-header (reloadDiapause)="reloadDiapause()" [colonyId]='colonyId' [diapauseLoaded]="diapauseLoaded"></app-diapause-header>
  <div class="body d-flex flex-column">
      <div class="separator-module"></div>
    <app-diapause-period [sheet]="sheet"></app-diapause-period>
      <div class="separator-module"></div>
    <app-diapause-switcher [sheet]="sheet"></app-diapause-switcher>
      <div class="separator-module"></div>
    <app-diapause-dates-tracker></app-diapause-dates-tracker>
      <div class="separator-module"></div>
    <app-diapause-stats></app-diapause-stats>
      <div class="separator-module"></div>
    <app-diapause-buttons (diapauseChangeStatus)="changeStatus($event)" (reloadDiapause)="reloadDiapause()" [colonyId]='colonyId'></app-diapause-buttons>

      <!-- // Si une diapause à été trouvée et chargée -->
      <!-- <div *ngIf="diapauseLoaded" class="schedule">
      <form (ngSubmit)='saveDiapause()' [formGroup]="diapauseForm">
        <div class="inner-separator"></div>

          <div class="line">
            <div style="margin-bottom: 10px;" class="date-cont">
              <span *ngIf="ended && !showCountdown" class="title">Started: </span>
              <span *ngIf="!showCountdown && !ended" class="title">Will start: </span>
              <span *ngIf="showCountdown && !ended" class="title">Started: </span>

              <span class='start-date'>{{this.loadedDiapause[0].period.startDate | date: 'mediumDate'}}, {{this.loadedDiapause[0].period.startDate | date:'h:mm'}}</span>
            </div>
            <div class="date-cont">
              <span *ngIf="ended && !showCountdown" class="title">ended: </span>
              <span *ngIf="!showCountdown && !ended" class="title">Will end: </span>
              <span *ngIf="showCountdown && !ended" class="title">Will end: </span>
              <span class='end-date'>{{this.loadedDiapause[0].period.endDate | date: 'mediumDate'}}, {{this.loadedDiapause[0].period.endDate | date:'h:mm'}}</span>
            </div>
          </div>

          <div class="inner-separator"></div>
        <div class="inner-separator"></div>
        <div  class="d-flex buttons row">
          <div *ngIf="!ended" class="col-sm-12">
            <button (click)="openPopup('abortPopup')" type='button' class='red-btn w-100'>{{ 'DELETE !ended DIAPAUSE load' }}</button>
          </div>
          <div *ngIf="ended" ="col-sm-12">
            <button (click)="openPopup('abortPopup')" type='button' class='red-btn w-100'>{{ 'DELETE ended DIAPAUSE load' }}</button>
          </div>
          <div *ngIf="ended" class="col-sm-12">
            <button (click)="openPopup('archivePopup')" type='button' class='green-btn w-100'>{{ 'ARCHIVE ended DIAPAUSE load' }}</button>
          </div>
        </div>
      </form>
    </div> -->
  </div>

  <!--------
  - POPUPS -
  --------->

  <!-- // Annuler la diapause -->
  <!-- <app-popup class="diapause-popup animate__animated animate__zoomIn" id='abortPopup'>
    <div class="popup animate__animated animate__bounceInUp animate__delay-05s">
      <h6 style="font-size:2.2rem!important;text-transform:capitalize">DELETE Diapause</h6>
      <div style="height:100%;top:0" class="popup-body d-flex flex-column">
        <i class="warning-icon"></i>
        <span>You are about to<span class="alert">DELETE</span>a running diapause.<span class="alert"><br/>All data will be lost.</span><br/>ARE YOU SURE ?</span>
        <div style="flex-grow: 1;align-items: flex-end;" class="d-flex w-100 justify-content-around">
          <button (click)="closePopup('abortPopup');deleteDiapause()" type="submit" class="green-btn">YES</button>
          <button (click)="closePopup('abortPopup')" type="button" class="red-btn">NO</button>
        </div>
      </div>
    </div>
  </app-popup> -->


</div>
