$green: #62d744;
$light-green: white;
$dark-green: #5aac17;

$red: #d74444;
$light-red: white;
$dark-red: #a71d1d;

$blue: #0f9ed6;
$light-blue: white;
$dark-blue: #085c7e;

$black: #4a4a4a;
$light-black: #1d1d1d;
$dark-black: #000;

$grey: #bebebe;
$light-grey: #dadada;
$mid-grey: #b9b9b9;
$mid2-grey: #7d7d7d;
$dark-grey: #1f1f1f;
