<div class="species-informations">
  <div class="item">
    <i class="humidity-icon"></i>
    <div class="content">
      <span>~{{breedSheet?.hygrometry[0].hygrometryStart}}-{{breedSheet?.hygrometry[0].hygrometryEnd}}%</span>
    </div>
  </div>

  <div class="item">
    <i class="temperature-icon"></i>
    <div class="content">
      <span>~{{breedSheet?.temperature[0].temperatureStart}}-{{breedSheet?.temperature[0].temperatureEnd}}°C</span>
      <span></span>

    </div>
  </div>

  <div class="item">
    <i class="food-icon"></i>
    <div class="content fix-icon ">
      <span
      [ngClass]="{
        'food-insects': aliment === 'insects',
        'food-meat': aliment === 'meat',
        'food-sugar-water': aliment === 'sugar water',
        'food-fruits': aliment === 'fruits',
        'food-seeds': aliment === 'seeds',
        'food-mushrooms': aliment === 'mushrooms',
        'food-antbread': aliment === 'ant bread',
        'food-honeydew': aliment === 'honeydew'
      }"
      class="multiline"
      *ngFor="let aliment of breedSheet?.foods">{{aliment}}</span>
    </div>
  </div>

  <div class="item">
    <i class="geography-icon"></i>
    <div class="content fix-icon align-items-start">
      <span class="multiline mb-0" *ngFor="let region of breedSheet?.regions">{{region}}</span>
    </div>
  </div>

  <div class="item">
    <i *ngIf="breedSheet?.polymorphism" class="polymorphism-icon"></i>
    <i *ngIf="!breedSheet?.polymorphism" class="nopolymorphism-icon"></i>

    <div class="content fix-icon align-items-start">
        <span class="mb-0 polymorphism" >{{ breedSheet?.polymorphism ? 'Have polymorphism' : 'Inexistant polymorphism'}}</span>
    </div>
  </div>

  <div *ngIf="breedSheet?.needDiapause" class="item">
    <i class="cold-icon"></i>
    <div class="content fix-icon ">
      <span>
        ~{{breedSheet?.diapauseTemperature[0].diapauseTemperatureStart}}-{{breedSheet?.diapauseTemperature[0].diapauseTemperatureEnd}}°C</span>
    </div>
  </div>
</div>
