@import '../../../styles/global/mixins';
.separator {
  display: none;
  @include breakpoint('small') {
    width: 100%;
    display: flex;
    width: 100%;
    display: flex;
    height: 2px;
    background-color: #cacaca;
  }
 }
:host {
  display: flex;
  width: 100%;
  border-bottom: .3rem solid #4a4a4a;
  height: 10rem;

  @include breakpoint('small') {
    height: auto;
  }
}

.fix-icon {
  margin-left: 1.7rem!important;
}

.species-informations {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  @include breakpoint('small') {
    flex-direction: column;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 8rem;
    height: 100%;

    @include breakpoint('small') {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 8rem;
      width: 100%;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      margin: 2rem 0;
    }

    .polymorphism {
      max-width: 10rem;
      font-size: 1.2rem!important;
      text-align: center;
    }

    .content {
      margin-left: 1rem;
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .multiline {
        font-size: 14px;
        margin-bottom: .2rem;
        &::first-letter {
          text-transform: capitalize;
        }
      }

      span {
        font-size: 1.4rem;
        color: #4a4a4a;
        font-weight: bold;
      }
    }
  }
}
