.countDown {
  font-size: 12px;
  font-weight: bold;
  background-color: #ffa9a9;
  padding: .5rem .8rem;
  border-radius: 25px;
  border: 1px solid #d4d4d4;
  span {
    color: #c84848 !important;
  }
}
