<div class="row">
  <div *ngIf='(breedingSheet$ | async) as sheet' class="breedsheet-container col-sm-12">
    <div class="breedsheet">

      <!-- <div style="text-align: center;" class="mb-4">
        <i class="review-icon"></i>
        <h2>Breedsheet <span>Review</span></h2>
      </div> -->

      <div class="col-sm-12 viewer">

        <span>{{sheet.species}}</span>
      </div>


    </div>
  </div>
</div>
<ng-template #loading>
  <div class="spinner-container">
    <div class="loading"></div>
  </div>
</ng-template>
