@import '../../styles/global/mixins';
:host {
  width: 100%;
}

.false {
  color: #d74444;
  font-weight: bold;
}

.true {
  color: #5ad744;
  font-weight: bold;
}

.options-popup {
  justify-content: space-between;
}

.badge-invalid {
  font-size: 1rem;
  padding: 0.3rem;
}

.custom-popup {
  display: flex;
  position: absolute;
  background-color: #000000a1;
  width: 100%;
  height: 100%;
  z-index: 900;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  top: 0px;
  left: 0px;

  .popup {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: white;
    padding: 1.5rem;
    border-radius: .3rem;
    position: relative;
  }
}

.entete {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  min-width: 7rem!important;
}
.data {
  margin-left: 1rem;
  color: #737373;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: bold;
}

.black-data {
  background-color: #252424;
  border-radius: .5rem;
  color: white;
  padding: .4rem .6rem;
  @include breakpoint('small') {
    font-size: 1.6rem;
  }
}

.breedsheet-container {
  height: calc(100vh - 10rem);
  .breedsheet {
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
    border-bottom: 0.2rem solid #bdbdbd;
    padding: 1.4rem;
    min-height: 100%;

    @include breakpoint('small') {
      padding: 1rem;
    }
  }
}

h2 {
  margin-bottom: 3rem;
  span {
    color: #62d744;
  }
}

h5 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  @include breakpoint('small') {
    margin: 2rem 0;
    margin-bottom: 1rem;
  }
}

.viewer {
  display: flex;
  flex-direction: column;
  width: 100%;
  .taxonomy-container {
    position: relative;
    @include breakpoint('small') {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: 0rem;
      margin-bottom: 1rem;
      top: 1.2rem;
    }
  }

  .important-container {
    position: relative;
    top: -23px;
    @include breakpoint('small') {
      position: relative;
      display: flex;
      justify-content: space-around;
      width: 100%;
      left:0;
      margin-bottom: 1rem;
      top: 1rem;
    }

    .item {
      min-width: 8rem;
      justify-content: space-between;
    }
  }

  .body {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    @include breakpoint('small') {
      margin: 2rem 0;
    }
  }

  .viewer {
    .temperature-icon:before {
      margin-left: -0.6rem !important;
    }
  }

  .head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: .1rem solid #e8e8e8;
    border-radius: .8rem;
    padding: 1rem;
    height: 14rem;

    @include breakpoint('small') {
      align-items: center;
      justify-content: inherit;
      height: inherit;
      flex-direction: column;
      border: .1rem solid #c1c1c1;
      border-radius: 1rem;
      padding: 1rem;
    }

    .temperature-icon {
      &:before {
        margin-left: -0.4rem !important;
        width: 2.5rem !important;
        margin-top: .2rem;
        height: 2.5rem !important;
      }
    }

    .comments-icon {
      margin-right: .5rem;
      &:before {
        width: 1rem!important;
        height: 1rem!important;
      }
      cursor: pointer;
    }
  }
}

.card-title {
  font-size: 1.2rem;
  text-align: center;
  text-transform: inherit!important;
  margin-bottom: 0;
}

.yesdiapause {
  background-color: #72d744;
  color: white !important;
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  min-width: 10rem;
  max-width: 10rem;
  font-weight: bold;
  text-transform: uppercase!important;
}

.nodiapause {
  background-color: #d74444;
  color: white !important;
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  min-width: 15rem;
  max-width: 15rem;
  font-weight: bold;
  text-transform: uppercase!important;
}

.head-card {
  border-bottom: .1rem solid #e2e2e2;
  width: 100%;
  padding: 1.6rem 0 1rem 0;
  position: relative;

  i {
    right: 0;
    top: 0rem;
  }
}

.body-card {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  justify-content: center;
}

.taxonomy {
  color: #7b7b7b;
}

.genre {
  background-color: #44d7ab;
  border-bottom: .2rem solid #309c7b;
  border-radius: 5rem;
  padding: 0.4rem 0.6rem;
  color: white;
  min-width: 4.5rem;
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  @include breakpoint('small') {
    display: none;
  }
}

.gene {
  @include breakpoint('small') {
    background-color: #44d7ab;
    border-radius: 5rem;
    padding: .8rem;
    color: white;
    min-width: 4.5rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}

.tribe {
  @include breakpoint('small') {
    background-color: #449ed7;
    border-radius: 5rem;
    padding: .8rem;
    color: white;
    min-width: 4.5rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}

.fame {
  @include breakpoint('small') {
    background-color: #d7447e;
    border-radius: 5rem;
    padding: .8rem;
    color: white;
    min-width: 4.5rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}

.subfame {
  @include breakpoint('small') {
    background-color: #d79c44;
    border-radius: 5rem;
    padding: .8rem;
    color: white;
    min-width: 4.5rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3rem;
  }
}

.family {
  background-color: #d7447e;
  border-bottom: .2rem solid #932b54;
  border-radius: 5rem;
  padding: 0.4rem 0.6rem;
  color: white;
  min-width: 4.5rem;
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  @include breakpoint('small') {
    display: none;
  }
}

.subfamily {
  background-color: #d79c44;
  border-bottom: .2rem solid #9e712e;
  border-radius: 5rem;
  padding: 0.4rem 0.6rem;
  color: white;
  min-width: 4.5rem;
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  @include breakpoint('small') {
    display: none;
  }
}

.tribu {
  background-color: #449ed7;
  border-bottom: .2rem solid #235a7d;
  border-radius: 5rem;
  padding: 0.4rem 0.6rem;
  color: white;
  min-width: 4.5rem;
  font-size: .9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  @include breakpoint('small') {
    display: none;
  }
}

h6 {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 2rem !important;
  margin: .5rem 0 1rem 0;
  text-align: center;
  position: relative;
  white-space: nowrap;
  color: #434343;


  @include breakpoint('small') {
    font-weight: bold;
    color: #4f4f4f;
    text-transform: uppercase;
    font-size: 2rem !important;
    margin-bottom: 2rem;
    text-align: center;
    line-height: 2rem;
    white-space: normal;
    margin-top: 1rem;
  }
}
.creator-cont {
  @include breakpoint('small') {
    margin-top: 2rem;
    text-align: center;
  }
}

.fiche-info {
  display: flex;
  align-items: center;
  @include breakpoint('small') {
    flex-direction: column;
    span {
      font-size: 1.4rem!important;
      margin: .5rem 0;
    }
  }
}

.creator {
  font-size: 1.4rem;
  color: #6e6e6e;
  text-align: center;
  margin-right:.5rem
}

.date {
  margin: 0 .5rem;
}
.creator-link {
  color: #6e6e6e;
  margin-right:.5rem;
  font-weight: bold;
  @include breakpoint('small') {
    font-size: 1.6rem;
    margin: 0 0 1rem;
  }

  &:hover {
    color: #62d744;
  }
}

.cont-data {
  @include breakpoint('small') {
    flex-direction:column;
  }
}

.details-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  @include breakpoint('small') {
  margin-bottom: 1rem;
  span {
    text-align:center!important;
  }
  }

  .details {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    width: 100%;
    align-items: center;
    min-height: 33rem;
    height: 100%;
    border-radius: 0.5rem;
    border-top: 0.2rem solid #cecece00;
    box-shadow: 0 0px 8px 0px rgb(0 0 0 / 22%);
    @include breakpoint('small') {
      min-height: 35rem;
    }
  }

  span {
    font-size: 1.3rem;
    text-transform: capitalize;
  }
}
.picture-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 45rem;
  max-width: 80rem;
  margin: 1rem auto;
  border-radius: 1rem;
  border: .3rem solid #252424;
  @include breakpoint('small') {
    width: 98%;
  }
  .picture {
    content: "";
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100rem;
    height: 60rem;
    max-height: 60rem;
    min-height: 60rem;
    transition: all 0.8s;

    @include breakpoint('small') {
      height: 100%;
      max-height: 30rem;
      min-height: 20rem;
      width: 60rem;
      min-width: 30rem;
    }
  }
}
.static-text {
  font-size: 1.6rem !important;
  margin-bottom: .5rem;
}
.text-data {
  color: #393939;
  font-size: 1.6rem !important;
  margin-bottom: .5rem;
  align-items: center;
  position: relative;
}
.stars-cont {
  position: relative;
  margin-left: .5rem;
  top: .1rem;
}
select {
  padding: 8px;
  margin-bottom: 1rem;
}

.close-popup {
  position: absolute;
  right: .5rem;
  top: .5rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: .3rem!important;
  transition: all 0.2s;
  border-bottom: 0.2rem solid #4f9218;
}

.close-popup {

  .close-icon:before {
    top: 0rem!important;
}
}




