<div class="row">
  <div *ngIf='(breedingSheet$ | async) as sheet' class="breedsheet-container col-sm-12">
    <div class="breedsheet">
      <div class="col-sm-12 viewer">
        <div class="head">
          <div class="taxonomy-container">
            <div class="d-flex mb-1 align-items-center">
              <span class="entete genre">genre</span>
              <span class="data gene">{{sheet.genre}}</span>
            </div>
            <div class="d-flex mb-1 align-items-center ">
              <span class="entete family align-items-center">family</span>
              <span class="data fame">{{sheet.family}}</span>
            </div>
            <div class="d-flex mb-1 align-items-center ">
              <span class="entete subfamily align-items-center">sub-family</span>
              <span class="data subfame">{{sheet.subfamily}}</span>
            </div>
            <div class="d-flex align-items-center">
              <span class="entete tribu align-items-center">tribu</span>
              <span class="data tribe">{{sheet.tribu}}</span>
            </div>
          </div>
          <div class="d-flex flex-column">
            <h5>{{sheet.species}}</h5>
            <div class="fiche-info">
              <span class="creator">Created by</span>
              <a class="creator-link" href="">{{ sheet.creator?.pseudo }}</a> <span class="sep">|</span>
              <span class="date">{{ sheet.creationDate | date: 'dd/MM/yyyy' }} <span class="sep">|</span> </span><span>2 <i class="comments-icon"></i> <span class="sep">|</span> </span>
              <span class="d-flex align-items-center stars-cont">
                <i
                [ngClass]="{
                  'star-icon': breedSheet?.difficulty >= 1
                }"y
                class="star-icon">{{diff}}</i>
                <i
                [ngClass]="{
                  'star-icon': breedSheet?.difficulty >= 2,
                  'star-icon-grey': breedSheet?.difficulty < 2
                }"
                class="star-icon">{{diff}}</i>
                <i
                [ngClass]="{
                  'star-icon': breedSheet?.difficulty >= 3,
                  'star-icon-grey': breedSheet?.difficulty < 3
                }"
                class="star-icon">{{diff}}</i>
                <i
                [ngClass]="{
                  'star-icon': breedSheet?.difficulty >= 4,
                  'star-icon-grey': breedSheet?.difficulty < 4
                }"
                class="star-icon">{{diff}}</i>
                <i
                [ngClass]="{
                  'star-icon': breedSheet?.difficulty >= 5,
                  'star-icon-grey': breedSheet?.difficulty < 5
                }"
                class="star-icon">{{diff}}</i>
              </span>
            </div>

          </div>
          <div class="important-container">
            <div class="d-flex align-items-center item">
              <i class="temperature-icon"></i>
              <span class="black-data">~{{breedSheet?.temperature[0].temperatureStart}}-{{breedSheet?.temperature[0].temperatureEnd}}°C</span>
            </div>
            <div class="d-flex mb-0 align-items-center item">
              <i class="humidity-icon"></i>
              <span class="black-data">~{{breedSheet?.hygrometry[0].hygrometryStart}}-{{breedSheet?.hygrometry[0].hygrometryEnd}}%</span>
            </div>
          </div>
        </div>

        <div class="body row">
          <div class="col-sm-12 offset-md-1 col-md-10 p-0">
            <div class="picture-container">
              <div [ngStyle]="{'background-image': 'url('+ actualGynePicture + ')'}" class="picture"></div>
            </div>

            <div class="row">
              <div class="col-sm-4 details-cont">
                <div class="details">
                  <div style="align-items: center;" class="head-card d-flex flex-column">
                    <i class="food-icon"></i>
                    <h6 class="food">Food Types</h6>
                  </div>
                  <div class="body-card">
                    <div class="d-flex flex-column w-100 align-items-center">
                      <span style="text-transform:lowercase" class="text-data" [ngClass]="{
                        'food-insects': food === 'insects',
                        'food-meat': food === 'meat',
                        'food-sugar-water': food === 'sugar water',
                        'food-fruits': food === 'fruits',
                        'food-seeds': food === 'seeds'
                      }" *ngFor="let food of breedSheet?.foods">{{ food }} </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 details-cont">
                <div class="details">
                  <div style="align-items: center;" class="head-card d-flex flex-column">
                    <i class="diapause-icon"></i>
                    <h6 class="diapause">Diapause</h6>
                  </div>
                  <div class="body-card mt-2">
                    <span [ngClass]="
                      {
                        'yesdiapause': breedSheet?.needDiapause,
                        'nodiapause': !breedSheet?.needDiapause
                      }
                    " class="text-data">{{ breedSheet?.needDiapause ? 'required' : 'not required' }} </span>
                    <div class="d-flex flex-column w-100 align-items-center mt-3 mb-3">
                      <span class="card-title">
                        For the diapause
                        {{sheet.species}}
                        will be fine with a temperature range between
                        </span>
                        <span>
                          <b style="font-size:1.4rem">{{sheet.diapauseTemperature[0].diapauseTemperatureStart}} °C</b>
                          and
                          <b style="font-size:1.4rem">{{sheet.diapauseTemperature[0].diapauseTemperatureEnd}} °C</b>
                        </span>
                    </div>
                    <div class="d-flex flex-column w-100 align-items-center">
                      <span class="card-title">
                        The best period for this species is to start the diapause in
                        <b style="font-size:1.4rem">{{sheet.diapausePeriod[0].diapauseStart}}</b>
                        and ends it in
                        <b style="font-size:1.4rem">{{sheet.diapausePeriod[0].diapauseEnd}}</b>
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 details-cont">
                <div class="details">
                  <div style="align-items: center;" class="head-card d-flex flex-column">
                    <i class="geography-icon"></i>
                    <h6 class="geography">Geographic Distribution</h6>
                  </div>
                  <div class="body-card">
                    <span class="text-data d-flex" *ngFor="let region of breedSheet?.regions">
                      <i style="margin-right:.5rem" [ngClass]="{
                        'europa-icon' : region === 'europa' || region === 'europa (south)' || region === 'europa (north)' || region === 'europa (east)' || region === 'europa (west)' || region === 'europa (tempered)'
                      }"></i>
                      <i style="margin-right:.5rem" [ngClass]="{
                        'asia-icon' : region === 'asia' || region === 'asia (south)' || region === 'asia (north)' || region === 'asia (east)' || region === 'asia (west)'
                      }"></i>
                      <i style="margin-right:.5rem" [ngClass]="{
                        'china-icon' : region === 'china'
                      }"></i>
                      <i style="margin-right:.5rem" [ngClass]="{
                        'america-icon' : region === 'america' || region === 'america (south)' || region === 'america (north)' || region === 'america (east)' || region === 'america (west)'
                      }"></i>
                      <i style="margin-right:.5rem" [ngClass]="{
                        'australia-icon' : region === 'australia' || region === 'australia (south)' || region === 'australia (north)' || region === 'australia (east)' || region === 'australia (west)'
                      }"></i>
                      <i style="margin-right:.5rem" [ngClass]="{
                        'india-icon' : region === 'india' || region === 'india (south)' || region === 'india (north)' || region === 'india (east)' || region === 'india (west)'
                      }"></i>
                      {{ region }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 details-cont">
                <div class="details">
                  <div style="align-items: center;" class="head-card d-flex flex-column">
                    <i class="behavior-icon"></i>
                    <h6 class="behaviors">Behaviours</h6>
                  </div>
                  <div class="body-card">
                    <span class="text-data">trophalaxy, claustral, driller</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 details-cont">
                <div class="details">
                  <div style="align-items: center;" class="head-card d-flex flex-column">
                    <i class="meta-icon"></i>
                    <h6>Metabolism</h6>
                  </div>
                  <div class="body-card">
                    <span class="text-data">size, life expectancy</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="picture-container">
              <div [ngStyle]="{'background-image': 'url('+ actualPicture + ')'}" class="picture"></div>
            </div>
            <div class="row">
              <div class="col-sm-4 details-cont">
                <div class="details">
                  <div style="align-items: center;" class="head-card d-flex flex-column">
                    <i class="geography-icon"></i>
                    <h6 class="geography">Geographic Distribution</h6>
                  </div>
                  <div class="body-card">
                    <span class="text-data" *ngFor="let region of breedSheet?.regions">{{ region }} </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<ng-template #loading>
  <div class="spinner-container">
    <div class="loading"></div>
  </div>
</ng-template>
