<div class="row">
  <div *ngIf='(breedingSheet$ | async) as sheet' class="breedsheet-container col-sm-12">
    <div class="breedsheet">
      <div class="col-sm-12 viewer">
        <div class="head">
          <div class="taxonomy-container">
            <div class="d-flex mb-1 align-items-center">
              <span class="entete genre">genre</span>
              <span class="data gene">{{sheet.genre}}</span>
            </div>
            <div class="d-flex mb-1 align-items-center ">
              <span class="entete family align-items-center">family</span>
              <span class="data fame">{{sheet.family}}</span>
            </div>
            <div class="d-flex mb-1 align-items-center ">
              <span class="entete subfamily align-items-center">sub-family</span>
              <span class="data subfame">{{sheet.subfamily}}</span>
            </div>
            <div class="d-flex align-items-center">
              <span class="entete tribu align-items-center">tribu</span>
              <span class="data tribe">{{sheet.tribu}}</span>
            </div>
          </div>
          <div class="d-flex flex-column">
            <h5>{{sheet.species}}</h5>
            <div class="fiche-info">
              <span class="creator">Created by</span>
              <a class="creator-link" href="">{{ sheet.creator?.pseudo }}</a> <span class="sep">|</span>
              <span class="date">{{ sheet.creationDate | date: 'dd/MM/yyyy' }} <span class="sep">|</span> </span><span>2 <i class="comments-icon"></i> <span class="sep">|</span> </span>
              <span class="d-flex align-items-center stars-cont">
                <i
                [ngClass]="{
                  'star-icon': breedSheet?.difficulty >= 1
                }"y
                class="star-icon">{{diff}}</i>
                <i
                [ngClass]="{
                  'star-icon': breedSheet?.difficulty >= 2,
                  'star-icon-grey': breedSheet?.difficulty < 2
                }"
                class="star-icon">{{diff}}</i>
                <i
                [ngClass]="{
                  'star-icon': breedSheet?.difficulty >= 3,
                  'star-icon-grey': breedSheet?.difficulty < 3
                }"
                class="star-icon">{{diff}}</i>
                <i
                [ngClass]="{
                  'star-icon': breedSheet?.difficulty >= 4,
                  'star-icon-grey': breedSheet?.difficulty < 4
                }"
                class="star-icon">{{diff}}</i>
                <i
                [ngClass]="{
                  'star-icon': breedSheet?.difficulty >= 5,
                  'star-icon-grey': breedSheet?.difficulty < 5
                }"
                class="star-icon">{{diff}}</i>
              </span>
            </div>

          </div>
          <div class="important-container">
            <div class="d-flex align-items-center item">
              <i class="temperature-icon"></i>
              <span class="black-data">~{{breedSheet?.temperature[0].temperatureStart}}-{{breedSheet?.temperature[0].temperatureEnd}}°C</span>
            </div>
            <div class="d-flex mb-0 align-items-center item">
              <i class="humidity-icon"></i>
              <span class="black-data">~{{breedSheet?.hygrometry[0].hygrometryStart}}-{{breedSheet?.hygrometry[0].hygrometryEnd}}%</span>
            </div>
          </div>
        </div>

        <div class="body row">
          <div class="col-sm-12 offset-md-1 col-md-10 p-0">
            <div class="picture-container">
              <div [ngStyle]="{'background-image': 'url('+ actualGynePicture + ')'}" class="picture"></div>
            </div>

            <div class="row">
              <div class="col-sm-4 details-cont">
                <div class="details">
                  <div style="align-items: center;" class="head-card d-flex flex-column">
                    <i *ngIf="currentUser.email === sheet.creator?.email || currentUser.role === 'admin'" (click)="openFoodPopup()" class="pen-black-icon position-absolute"></i>
                    <i class="food-icon"></i>
                    <h6 class="food">Food Types</h6>
                  </div>
                  <div class="body-card">
                    <div class="d-flex flex-column w-100 align-items-center">
                      <span style="text-transform:lowercase" class="text-data" [ngClass]="{
                        'food-insects': food === 'insects',
                        'food-meat': food === 'meat',
                        'food-sugar-water': food === 'sugar water',
                        'food-fruits': food === 'fruits',
                        'food-seeds': food === 'seeds',
                        'food-honeydew': food === 'honeydew',
                        'food-antbread': food === 'ant bread',
                        'food-mushrooms': food === 'mushrooms'
                      }" *ngFor="let food of breedSheet?.foods">{{ food }} </span>
                    </div>
                  </div>
                <div *ngIf="foodPopupOpen" class="custom-popup breed-popup animate__animated animate__zoomIn">
                  <div class="popup animate__animated animate__bounceInUp animate__delay-05s">
                    <h6>Edit food types</h6>
                    <form class="form-group options-popup" [formGroup]="foodForm" (ngSubmit)='saveFood()'>
                      <div class="d-flex flex-column">
                        <select [(ngModel)]="sheet?.foods[0]" class="btn-select animate__animated animate__flipInX animate__delay-1s" formControlName='foodOne'>
                          <option *ngFor="let food of foodList" [value]="food.valeur">{{food.valeur}}</option>
                        </select>

                        <select [(ngModel)]="sheet?.foods[1]" class="btn-select animate__animated animate__flipInX animate__delay-2s" formControlName='foodTwo'>
                          <option *ngFor="let food of foodList" [value]="food.valeur">{{food.valeur}}</option>
                        </select>

                        <select [(ngModel)]="sheet?.foods[2]" class="btn-select animate__animated animate__flipInX animate__delay-3s" formControlName='foodThree'>
                          <option *ngFor="let food of foodList" [value]="food.valeur">{{food.valeur}}</option>
                        </select>

                        <span class="animate__animated animate__fadeInDown badge-invalid" *ngIf="errorFood">
                          You can't select same food types
                        </span>

                      </div>
                      <button type="submit" class='green-btn mt-4'>SAVE</button>

                    </form>
                    <button type="button" class='close-popup' (click)="closeFoodPopup(); $event.stopPropagation()">
                      <i class="close-icon"></i>
                    </button>
                  </div>
                </div>

                </div>
              </div>
              <div class="col-sm-4 details-cont">
                <div class="details">
                  <div style="align-items: center;" class="head-card d-flex flex-column">
                    <i *ngIf="currentUser.email === sheet.creator?.email || currentUser.role === 'admin'" (click)="openDiapausePopup()" class="pen-black-icon position-absolute"></i>
                    <i class="diapause-icon"></i>
                    <h6 class="diapause">Diapause</h6>
                  </div>
                  <div class="body-card mt-2">
                    <span [ngClass]="
                      {
                        'yesdiapause': breedSheet?.needDiapause,
                        'nodiapause': !breedSheet?.needDiapause
                      }
                    " class="text-data">{{ breedSheet?.needDiapause ? 'required' : 'not required' }} </span>
                    <div *ngIf="breedSheet?.needDiapause" class="d-flex flex-column w-100 align-items-center mt-3 mb-3">
                      <span class="card-title">
                        For the diapause
                        {{sheet.species}}
                        will be fine with a temperature range between
                        </span>
                        <span>
                          <b style="font-size:1.4rem">{{sheet.diapauseTemperature[0].diapauseTemperatureStart}} °C</b>
                          and
                          <b style="font-size:1.4rem">{{sheet.diapauseTemperature[0].diapauseTemperatureEnd}} °C</b>
                        </span>
                    </div>
                    <div *ngIf="breedSheet?.needDiapause" class="d-flex flex-column w-100 align-items-center">
                      <span class="card-title">
                        The best period to start the diapause is
                        <b style="font-size:1.4rem;text-transform:capitalize">{{sheet.diapausePeriod[0].diapauseStart}}</b>
                        to
                        <b style="font-size:1.4rem;text-transform:capitalize">{{sheet.diapausePeriod[0].diapauseEnd}}</b>
                        </span>
                    </div>
                    <div *ngIf="!breedSheet?.needDiapause" class="mt-3 d-flex flex-column w-100 align-items-center">
                      <span class="card-title">
                        But a pause of 1 or 2 months can be recommended.
                        </span>
                    </div>
                  </div>
                  <div *ngIf="diapausePopupOpen" class="custom-popup breed-popup animate__animated animate__zoomIn">
                    <div class="popup animate__animated animate__bounceInUp animate__delay-05s">
                      <h6>Edit diapause</h6>
                      <form class="form-group options-popup" [formGroup]="diapauseForm" (ngSubmit)='saveDiapause()'>

                        <div class="d-flex c switch mb-4 flex-row align-items-center">
                          <span style="flex-grow: 1;text-align: left!important;">Need diapause</span>
                          <div class="on-off-toggle">
                            <input
                            type="checkbox"
                            formControlName="needdiapause"
                            class="on-off-toggle__input"
                            id="needdiapause"
                            [(ngModel)]='sheet.needDiapause'
                            (change)="diapauseSwitch()"
                          />
                            <label for="needdiapause" class="on-off-toggle__slider"></label>
                          </div>
                        </div>

                        <div *ngIf="needDiapauseSwitch" class="form-row mb-2 animate__animated animate__flipInX">
                          <div class="d-flex flex-column col-sm-6  form-group">
                            <label for="">Min °C</label>
                            <select [(ngModel)]="sheet?.diapauseTemperature[0].diapauseTemperatureStart" class="btn-select mb-0" formControlName='diapauseTemperatureStart'>
                              <option *ngFor="let temp of temperatureList" [value]="temp.valeur">{{temp.valeur}}</option>
                            </select>
                          </div>

                          <div *ngIf="needDiapauseSwitch" class="d-flex flex-column form-group col-sm-6 animate__animated animate__flipInX animate__delay-1s">
                            <label for="">Max °C</label>
                            <select [(ngModel)]="sheet?.diapauseTemperature[0].diapauseTemperatureEnd" class="btn-select mb-0" formControlName='diapauseTemperatureEnd'>
                              <option *ngFor="let temp of temperatureList" [value]="temp.valeur">{{temp.valeur}}</option>
                            </select>
                          </div>
                        </div>

                        <div *ngIf="needDiapauseSwitch" class="d-flex form-group animate__animated animate__flipInX animate__delay-2s">
                          <label for="">Start month</label>
                            <select style="text-transform: capitalize;" [(ngModel)]="sheet?.diapausePeriod[0].diapauseStart" class="btn-select mb-0" formControlName='diapauseStart'>
                              <option *ngFor="let month of monthList" [value]="month.valeur">{{month.valeur}}</option>
                            </select>
                        </div>
                        <div *ngIf="needDiapauseSwitch" class="d-flex form-group animate__animated animate__flipInX animate__delay-3s">
                          <label for="">End month</label>
                            <select style="text-transform: capitalize;" [(ngModel)]="sheet?.diapausePeriod[0].diapauseEnd" class="btn-select mb-0" formControlName='diapauseEnd'>
                              <option *ngFor="let month of monthList" [value]="month.valeur">{{month.valeur}}</option>
                            </select>
                        </div>

                        <button type="submit" class='green-btn mt-4'>SAVE</button>

                      </form>
                      <button type="button" class='close-popup' (click)="closeDiapausePopup(); $event.stopPropagation()">
                        <i class="close-icon"></i>
                      </button>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-4 details-cont">
                <div class="details">
                  <div style="align-items: center;" class="head-card d-flex flex-column">
                    <i *ngIf="currentUser.email === sheet.creator?.email || currentUser.role === 'admin'" (click)="openGeographyPopup()" class="pen-black-icon position-absolute"></i>
                    <i class="geography-icon"></i>
                    <h6 class="geography">Geographic Distribution</h6>
                  </div>
                  <div class="body-card">
                    <span class="text-data d-flex" *ngFor="let region of breedSheet?.regions">
                      <i style="margin-right:.5rem" [ngClass]="{
                        'europa-icon' : region === 'europa' || region === 'europa (south)' || region === 'europa (north)' || region === 'europa (east)' || region === 'europa (west)' || region === 'europa (tempered)'
                      }"></i>
                      <i style="margin-right:.5rem" [ngClass]="{
                        'asia-icon' : region === 'asia' || region === 'asia (south)' || region === 'asia (north)' || region === 'asia (east)' || region === 'asia (west)'
                      }"></i>
                      <i style="margin-right:.5rem" [ngClass]="{
                        'china-icon' : region === 'china'
                      }"></i>
                      <i style="margin-right:.5rem" [ngClass]="{
                        'america-icon' : region === 'america' || region === 'america (south)' || region === 'america (north)' || region === 'america (east)' || region === 'america (west)'
                      }"></i>
                      <i style="margin-right:.5rem" [ngClass]="{
                        'australia-icon' : region === 'australia' || region === 'australia (south)' || region === 'australia (north)' || region === 'australia (east)' || region === 'australia (west)'
                      }"></i>
                      <i style="margin-right:.5rem" [ngClass]="{
                        'india-icon' : region === 'india' || region === 'india (south)' || region === 'india (north)' || region === 'india (east)' || region === 'india (west)'
                      }"></i>
                      <i style="margin-right:.5rem" [ngClass]="{
                        'africa-icon' : region === 'africa' || region === 'africa (south)' || region === 'africa (north)' || region === 'africa (east)' || region === 'africa (west)'
                      }"></i>
                      {{ region }}
                    </span>
                    <div *ngIf="geographyPopupOpen" class="custom-popup breed-popup animate__animated animate__zoomIn">
                      <div class="popup animate__animated animate__bounceInUp animate__delay-05s">
                        <h6>Edit geography</h6>
                        <form class="form-group options-popup" [formGroup]="geographyForm" (ngSubmit)='saveGeography()'>
                          <div class="d-flex flex-column">
                            <select [(ngModel)]="sheet?.regions[0]" class="btn-select animate__animated animate__flipInX animate__delay-1s" formControlName='geographyOne'>
                              <option *ngFor="let geography of geographyList" [value]="geography.valeur">{{geography.valeur}}</option>
                            </select>

                            <select [(ngModel)]="sheet?.regions[1]" class="btn-select animate__animated animate__flipInX animate__delay-2s" formControlName='geographyTwo'>
                              <option *ngFor="let geography of geographyList" [value]="geography.valeur">{{geography.valeur}}</option>
                            </select>

                            <select [(ngModel)]="sheet?.regions[2]" class="btn-select animate__animated animate__flipInX animate__delay-3s" formControlName='geographyThree'>
                              <option *ngFor="let geography of geographyList" [value]="geography.valeur">{{geography.valeur}}</option>
                            </select>

                            <span class="animate__animated animate__fadeInDown badge-invalid" *ngIf="errorGeography">
                              You can't select same regions
                            </span>

                          </div>
                          <button type="submit" class='green-btn mt-4'>SAVE</button>

                        </form>
                        <button type="button" class='close-popup' (click)="closeGeographyPopup(); $event.stopPropagation()">
                          <i class="close-icon"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 details-cont">
                <div class="details">
                  <div style="align-items: center;" class="head-card d-flex flex-column">
                    <i *ngIf="currentUser.email === sheet.creator?.email || currentUser.role === 'admin'" (click)="openBehaviorPopup()" class="pen-black-icon position-absolute"></i>
                    <i class="behavior-icon"></i>
                    <h6 class="behaviors">Common Behaviours</h6>
                  </div>
                  <div class="body-card">
                    <div class="d-flex flex-column w-100 align-items-center">
                      <div class="cont-data align-items-center d-flex mb-3">
                        <i class="polygyne-icon"></i>
                        <span><b>{{sheet?.polygyne ? 'Polygyne': 'Monogyne'}}</b></span>
                      </div>
                      <div class="cont-data  align-items-center d-flex mb-3">
                        <i class="claustral-icon"></i>
                        <span><b>{{sheet?.semiClaustral ? 'Semi-Claustral': 'claustral'}}</b></span>
                      </div>
                      <div class="cont-data  align-items-center d-flex mb-3">
                        <i class="driller-icon"></i>
                        <span [ngClass]="{
                          'false': !sheet?.driller
                        }"><b>{{sheet?.driller ? 'yes driller': 'non-driller'}}</b></span>
                      </div>
                      <div class="cont-data  align-items-center d-flex mb-3">
                        <i class="drinker-icon"></i>
                        <span><b>{{sheet?.drinker ? 'drinker in HA is required': 'drinker in HA is not required'}}</b></span>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="behaviorPopupOpen" class="custom-popup breed-popup animate__animated animate__zoomIn">
                    <div class="popup animate__animated animate__bounceInUp animate__delay-05s">
                      <h6>Edit behaviors</h6>
                      <form class="form-group options-popup" [formGroup]="behaviorForm" (ngSubmit)='saveBehavior()'>
                        <div style="justify-content: space-around;height:100%" class="d-flex flex-column">

                          <div class="d-flex c switch mb-4 flex-row align-items-center animate__animated  animate__fadeIn animate__delay-1s">
                            <span style="flex-grow: 1;text-align: left!important;">Polygyne</span>
                            <div class="on-off-toggle">
                              <input
                              type="checkbox"
                              formControlName="polyGyne"
                              class="on-off-toggle__input"
                              id="polyGyne"
                              [(ngModel)]='sheet.polygyne'
                              (change)="polyGyneSwitch()"
                            />
                              <label for="polyGyne" class="on-off-toggle__slider"></label>
                            </div>
                          </div>

                          <div class="d-flex c switch mb-4 flex-row align-items-center animate__animated  animate__fadeIn animate__delay-2s">
                            <span style="flex-grow: 1;text-align: left!important;">Semi-claustral</span>
                            <div class="on-off-toggle">
                              <input
                              type="checkbox"
                              formControlName="semiClaustral"
                              class="on-off-toggle__input"
                              id="semiClaustral"
                              [(ngModel)]='sheet.semiClaustral'
                              (change)="claustralSwitch()"
                            />
                              <label for="semiClaustral" class="on-off-toggle__slider"></label>
                            </div>
                          </div>

                          <div class="d-flex c switch mb-4 flex-row align-items-center animate__animated  animate__fadeIn animate__delay-3s">
                            <span style="flex-grow: 1;text-align: left!important;">Driller</span>
                            <div class="on-off-toggle">
                              <input
                              type="checkbox"
                              formControlName="driller"
                              class="on-off-toggle__input"
                              id="driller"
                              [(ngModel)]='sheet.driller'
                              (change)="drillerSwitch()"
                            />
                              <label for="driller" class="on-off-toggle__slider"></label>
                            </div>
                          </div>

                          <div class="d-flex c switch mb-4 flex-row align-items-center animate__animated  animate__fadeIn animate__delay-4s">
                            <span style="flex-grow: 1;text-align: left!important;">Drinker</span>
                            <div class="on-off-toggle">
                              <input
                              type="checkbox"
                              formControlName="drinker"
                              class="on-off-toggle__input"
                              id="drinker"
                              [(ngModel)]='sheet.drinker'
                              (change)="drinkerSwitch()"
                            />
                              <label for="drinker" class="on-off-toggle__slider"></label>
                            </div>
                          </div>
                        </div>
                        <button type="submit" class='green-btn mt-4'>SAVE</button>

                      </form>
                      <button type="button" class='close-popup' (click)="closeBehaviorPopup(); $event.stopPropagation()">
                        <i class="close-icon"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 details-cont">
                <div style="min-height: 40rem;" class="details">
                  <div style="align-items: center;" class="head-card d-flex flex-column">
                    <i *ngIf="currentUser.email === sheet.creator?.email || currentUser.role === 'admin'" (click)="openMorphismPopup()" class="pen-black-icon position-absolute"></i>
                    <i class="meta-icon"></i>
                    <h6>Morphism & Metabolism</h6>
                  </div>
                  <div class="body-card">
                    <span class="card-title">This species have <span [ngClass]="{
                      'false': !sheet?.polymorphism,
                      'true': sheet?.polymorphism
                    }" class="card-title"><b>{{sheet?.polymorphism ? 'high polymorphism.' : 'inexistant polymorphism.'}}</b></span></span>
                    <span class="card-title mt-3">
                      Gyne size is around<b> {{sheet?.gyneSize}}mm</b>
                    </span>

                    <span class="card-title">and
                      {{!sheet?.polymorphism ? 'Worker size is' : '' }} <b>{{!sheet?.polymorphism ? sheet?.workerSize + 'mm' : '' }}</b>
                      {{sheet?.polymorphism ? 'Major size is' : '' }} <b>{{sheet?.polymorphism ? sheet?.majorSize + 'mm': '' }}</b>
                    </span>

                    <span class="card-title">{{ sheet?.maleSize ? 'Male size' : ''}} <b>{{ sheet?.maleSize ? sheet?.maleSize : ''}}mm</b></span>

                    <span class="card-title mt-3">Gyne's life expectancy can reach <b>{{sheet?.gyneLives}} years</b></span>

                    <span class="card-title">and the workers can live about  <b>{{sheet?.workerLives}} years</b></span>

                  </div>
                  <div *ngIf="morphismPopupOpen" class="custom-popup breed-popup animate__animated animate__zoomIn">
                    <div class="popup animate__animated animate__bounceInUp animate__delay-05s">
                      <h6 class="fix-h6">Edit morphism & metabolism</h6>
                      <form class="form-group options-popup" [formGroup]="morphismForm" (ngSubmit)='saveMorphism()'>
                        <div class="form-row">
                          <span style="flex-grow: 1;text-align: left!important;">Polymorphism</span>
                        <div class="on-off-toggle">
                          <input
                          type="checkbox"
                          formControlName="polyMorphism"
                          class="on-off-toggle__input"
                          id="polyMorphism"
                          [(ngModel)]='sheet.polymorphism'
                          (change)="polyMorphismSwitch()"
                        />
                          <label for="polyMorphism" class="on-off-toggle__slider"></label>
                        </div>
                        </div>
                        <div class="form-row mt-4">
                          <div class="col-6 mb-2">
                            <div class="d-flex flex-column form-group">
                              <label style="display: block" for="">Gyne size <span class="unit">(mm)</span></label>
                              <div class="flex-row align-items-center">
                                <input [(ngModel)]="sheet.gyneSize" class="form-control" type="number" formControlName="gyneSize" />
                              </div>
                            </div>
                          </div>
                          <div class="col-6 mb-2">
                            <div class="d-flex flex-column form-group">
                              <label style="display: block" for="">Male size <span class="unit">(mm)</span></label>
                              <div class="flex-row align-items-center">
                                <input [(ngModel)]="sheet.maleSize" class="form-control" type="number" formControlName="maleSize" />
                              </div>
                            </div>
                          </div>

                          <div class="col-6 mb-2">
                              <div class="d-flex flex-column form-group">
                                <label style="display: block" for="">Worker size <span class="unit">(mm)</span></label>
                                <div class="flex-row align-items-center">
                                  <input [(ngModel)]="sheet.workerSize" class="form-control" type="number" formControlName="workerSize" />
                                </div>
                              </div>
                          </div>
                          <div class="col-6 mb-2">
                              <div class="d-flex flex-column form-group">
                                <label style="display: block" for="">Major size <span class="unit">(mm)</span></label>
                                <div class="flex-row align-items-center">
                                  <input [(ngModel)]="sheet.majorSize" class="form-control" type="number" formControlName="majorSize" />
                                </div>
                            </div>
                          </div>

                          <div class="col-6">
                            <div class="d-flex flex-column form-group">
                              <label style="display: block" for="">Gyne lives</label>
                              <div class="flex-row align-items-center">
                                <input [(ngModel)]="sheet.gyneLives" class="form-control" type="number" formControlName="gyneLives" />
                              </div>
                          </div>
                        </div><div class="col-6">
                          <div class="d-flex flex-column form-group">
                            <label style="display: block" for="">Worker lives</label>
                            <div class="flex-row align-items-center">
                              <input [(ngModel)]="sheet.workerLives" class="form-control" type="number" formControlName="workerLives" />
                            </div>
                        </div>
                      </div>
                    </div>

                    <div style="flex-grow:1"></div>
                        <!-- <div class="d-flex flex-column">
                          <div class="d-flex c switch mb-4 flex-row align-items-center animate__animated  animate__fadeIn">

                          </div>

                          <div class="form-row mb-2 animate__animated animate__flipInX">



                          </div>

                          <div class="form-row mt-2 mb-2">


                          </div>

                          <div class="form-row mt-2 mb-2">
                            <div class="d-flex flex-column form-group col-md-6 animate__animated  animate__flipInX animate__delay-3s">
                              <label style="display: block" for="">Worker size <span class="unit">(mm)</span></label>
                              <div class="flex-row align-items-center">
                                <input [(ngModel)]="sheet.gyneSize" class="form-control" type="number" formControlName="gyneSize" />
                              </div>
                            </div>

                            <div class="d-flex flex-column form-group col-md-6 animate__animated  animate__flipInX animate__delay-3s">
                              <label style="display: block" for="">Major size <span class="unit">(mm)</span></label>
                              <div class="flex-row align-items-center">
                                <input [(ngModel)]="sheet.gyneSize" class="form-control" type="number" formControlName="gyneSize" />
                              </div>
                            </div>
                          </div>



                        </div> -->
                        <button type="submit" class='green-btn mt-4'>SAVE</button>

                      </form>
                      <button type="button" class='close-popup' (click)="closeMorphismPopup(); $event.stopPropagation()">
                        <i class="close-icon"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="sheet.characteristics" class="col-sm-12 details-cont">
                <div class="details">
                  <div style="align-items: center;" class="head-card d-flex flex-column">
                  <i *ngIf="currentUser.email === sheet.creator?.email || currentUser.role === 'admin'" (click)="openCharacteristicsPopup()" class="pen-black-icon position-absolute"></i>
                    <i class="see-icon"></i>
                    <h6>Characteristics and Observations</h6>
                  </div>

                  <div class="body-card">
                    <span style="white-space: pre-line;" class="card-title">{{sheet?.characteristics}}</span>
                  </div>
                  <div *ngIf="characteristicsPopupOpen" class="custom-popup breed-popup animate__animated animate__zoomIn">
                    <div class="popup animate__animated animate__bounceInUp animate__delay-05s">
                      <h6>Edit characteristics</h6>
                      <form class="form-group options-popup" [formGroup]="characteristicsForm" (ngSubmit)='saveCharacteristics()'>
                        <div class="d-flex flex-column">


                        </div>
                        <button type="submit" class='green-btn mt-4'>SAVE</button>

                      </form>
                      <button type="button" class='close-popup' (click)="closeCharacteristicsPopup(); $event.stopPropagation()">
                        <i class="close-icon"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="sheet.pictures.length > 0" class="picture-container">
              <div [ngStyle]="{'background-image': 'url('+ actualPicture + ')'}" class="picture"></div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<ng-template #loading>
  <div class="spinner-container">
    <div class="loading"></div>
  </div>
</ng-template>
