@import '../../../styles/global/mixins';

select, input {
  height: 3.5rem;
  font-size: 1.6rem;
  box-shadow: inset 0 2px 0 rgb(84 94 111 / 20%);
  border: none !important;
  background-color: white;
  margin-bottom: 1rem;
}

.form-control.ng-invalid {
  border: transparent!important;
  color: rgb(166 26 26);
  background: #ffffff!important;
  &:focus {
   border: transparent!important;
   box-shadow: none!important;
   color: rgb(166 26 26);
    background: #ffffff!important;
  }
}

.banner {
  content: '';
  background-image: url('../../../assets/banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  width: 569px;
  height: 124px;
  margin: 7rem auto 5rem;

  @include breakpoint('small') {
    background-image: url('../../../assets/ban-mobile.png');
    width: 289px;
    height: 187px;
    margin: 0 auto;
    margin-top: 2rem;
  }
}

.signup-container {
  height: calc(100vh - 10rem);

  .last {
    font-size: 1.7rem!important;
  }

  .col-sm-12 {

  }

  .info {
    margin-right: -1px;
    padding-right: 0;
  }

  .register {
    @include breakpoint("large") {
      margin-left: -1px;
      padding-left: 0;
    }
  }
  .info-block {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: #1f1f1fe8;
    border-bottom: .2rem solid #060606e6;
    border-radius: 8px 0 0 8px;
    color: white;
    min-height: 100%;

    @include breakpoint('small') {
      display: none;
    }

    h3 {
      font-size: 2.8rem!important;
      margin-bottom: 2.5rem;
      font-weight: bold;
      color: white;
    }

    p {
      font-size: 16px;
      line-height: 2.2rem;
    }
  }
  label {
    font-size: 1.8rem!important;
    color: white !important;
    margin-bottom: .5rem;
  }

  .register-block {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #439a2d;
    border-bottom: .2rem solid #1e4913;
    border-radius: 0 8px 8px 0;
    min-height: 100%;

    @include breakpoint('small') {
      border-radius: 8px!important;
      margin-top: 2rem;

    }
  }

  .register-success {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
    font-size: 1.4rem;

    button {
      max-width: 11rem;
    }

    span {
      font-weight: bold;
      text-align: center;
    }
  }

  pre {
    display: inline-block;
    font-size: 87.5%;
    color: #ffffff;
    font-weight: bold;
    top: .5rem;
    left: .3rem;
    position: relative;
  }

  .form-group {
    margin-bottom: .8rem;
  }

  label {
    font-size: 1.6rem;
  }

  .form-control {
    height: 3.5rem;
    font-size: 1.6rem;
    box-shadow: inset 0 2px 0 rgb(84 94 111 / 20%);
    border:none!important;
    &:focus {
      background-color: #f8f9f9!important;
    }
  }

  .form-check {
    padding-left:0;
    align-items: center;
    display: flex;
    label {
      margin: 0 !important;
      left: 1rem;
      position: relative;
    }
    input {
      margin-left: 0;
      height: 2rem;
      width: 2rem;
      top: 11px;
      position: relative;
    }
  }

  .form-check-input {
    top: 1.2rem;
  }

  .signup {
    @include breakpoint('large') {
      display: flex;
      align-items: center;
      min-height: 100%;
  }


    button {
      letter-spacing: 0.15rem;
      font-size: 1.4rem;
      bottom: 0;
      margin: 0 auto;
      width: 100%;
    }
  }

  .custom-file-input {
    color: #1f1f1f;
  }

  input {
    padding: 1rem;
  }

  .hide-input {
    visibility: hidden;
    position: absolute;
    width: 0px;
    height: 0px;
    right: 0;
  }

  .file-input {
    display: flex;
    flex-direction: row-reverse;


    .fake-field {
      display: flex;
      align-items: center;
      padding: 1rem;
      overflow: hidden;
      flex-grow: 1;
      border-radius: .5rem 0 0 .5rem;
      box-shadow: inset 0 2px 0 rgb(84 94 111 / 20%);
      background-color: #e6e6e6;

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: bold;
        color: #a9a7a7;
      }

    }
    button {
      padding: 1rem 0;
      font-size: 1.2rem;
      max-width: 11rem;
      margin: 0;
      max-height: 3.5rem;
      border-radius: 0 0.5rem 0.5rem 0 !important;
    }
  }

  .green {
    // margin: 0 .5rem;
    cursor: pointer;
    transition: all .2s;
    color: #62d744;
    line-height: 2.2rem;
  }
}
