<div style="min-height: 100vh;" class="d-flex">

  <!-- <app-lateral-menu
    (mouseover)="hover = true"
    (mouseleave)="hover = false"
    [ngStyle]="hover == true ? {
      'width': '15rem',
      'transition' : 'all .2s',
      'box-shadow' : '5px 1px 20px -1px rgba(0,0,0,0.7)'
    } : {
      'width' : '6rem',
      'transition' : 'all .2s'
    }"
    class="menu d-flex">
  </app-lateral-menu> -->

  <div class="container-fluid">
    <div
    [ngStyle]="hover == true ? {'margin-left': '6rem', 'transition' : 'all .2s'} : {'margin-left' : '6rem', 'transition' : 'all .2s'}"
    class="d-flex flex-column">
      <!-- <app-header></app-header> -->
      <!-- <div
      style="display:flex;align-items:center"
      class="status-error animate__animated animate__fadeIn" *ngIf='!(authService.currentUser | async)?.is_verified && (authService.currentUser | async)?.is_verified !== null'>
        <span style="display:flex;align-items:center;color:white">
          <i class="padlock-icon"></i>
          Please confirm your account by
        </span>

          <span style="font-weight:bold;color:white">&nbsp; cliking the link on the email &nbsp;</span>
          <span style="color:white">you have received just after your registration before accessing the application!</span>
      </div> -->

      <router-outlet></router-outlet>
    </div>
  </div>
</div>




