<div *ngIf="bubbleTools" class="d-flex buttons">
    <div (click)="deleteColony(colony.id)" class="delete-icon icon animate__animated animate__bounceIn animate__delay-2s"></div>
    <div (click)="switchBubbles()" class="close-icon-white icon animate__animated animate__bounceIn"></div>
</div>
<div class="colony-card">
  <span
  class="species">{{colony.species}}</span>
  <div class="dots-container">
    <i (click)="switchBubbles()" class="dots-icon position-absolute"></i>
  </div>

  <div (click)="openColony(colony);" class="d-flex title-grow">
    <span class="title">{{colony.name ? colony.name : 'Colony Name'}}</span>
    <div class="d-flex flex-column population-container">
      <span class="population">
        Population:
        <span>
          {{ colony.counter.polymorph
          ? (colony.counter.majorCount + colony.counter.mediumCount + colony.counter.minorCount)
          : colony.counter.polyCount }}
        </span>
      </span>
    </div>
  </div>
</div>
