@import '../../styles/global/mixins';

:host {

}

.close-icon:before {
  top: 0.1rem!important;
}

img {
  margin: auto;
  border-radius: 1.5rem;
  max-width: 100%;
  max-height: 90%;
  border: .2rem solid white;
}

.prix {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  margin: 2rem 0 2.5rem 0;
  color: #fca62f;
}

.popup-wrapper {
  background-color: rgba(0, 0, 0, 0.623);
  display: none;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 7;
}

.partner-title {
  text-align: center;
  font-size: 2.2rem!important;
  text-decoration: underline;
  font-style: italic;
  @include breakpoint('small') {
    font-size: 2rem!important;
  }
}

a {
  color: #62d744;
}

.partner {
  height: 15rem;
  position: relative;
  margin: 0 3rem;

  @include breakpoint('small') {
    margin: 1rem 0;
    height: 20rem;
  }

}

.antsfourmis-cont {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  .antsfourmis-logo {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 150px;
    width: 150px;
    background-image: url('../../assets/antsfourmis.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &:hover {
      .ants {
        bottom: 0;
        transition: all, .2s;
      }
    }

    .ants {
      background-image: url('../../assets/ants.png');
      height: 120px;
      width: 120px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      bottom: -110px;
      left: 1.1rem;
      position: absolute;
      transition: all, .9s;
    }
  }
}

.fourmiculture-cont {
  cursor: pointer;
  overflow: hidden;
  border-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  transition: all, .5s;

  &:hover {
    transform: rotate(360deg);
    transition: all, .3s;
    .fourmiculture-logo {
      background-image: url('../../assets/fourmiculture-on.png');
      transition: all, 1s;
    }
  }

  .fourmiculture-logo {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 150px;
    width: 150px;
    background-image: url('../../assets/fourmiculture-off.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.register {
  max-width: 24rem;
  margin: 4rem auto;
  padding: 2rem;
  letter-spacing: .1rem;
  font-size: 2.5rem;
}

.medal-first-icon, .medal-second-icon, .medal-third-icon {
  @include breakpoint('small') {
    display: none!important
  }
}

.landing-page-container {
  height: calc(100vh - 10rem);

  h6 {
    border-bottom: 3px solid #d6d6d6;
    padding-bottom: .3rem;
    margin-bottom: 2rem;
    line-height: 3.8rem;
  }

  .landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    margin: 1.7rem 0;
  }

  .landing {
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
    border-bottom: 0.2rem solid #bdbdbd;
    min-height: 100%;
    margin: 0;

    @include breakpoint('small') {
      margin-top: 4rem;
    }
  }

  .head {
    border-radius: 5rem;
    text-align: center;
    position: relative;
    background-image: url('../../assets/concours-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    width: 100%;
    height: 15rem;

    .mobile-hide {
      display: none!important;
      @include breakpoint('large') {
        display: inline-block!important;
      }
    }

    .desk-hide {
      display: none!important;
      @include breakpoint('small') {
        display: flex!important;
      }
    }

    .logotext-cont {
      width: 100%;
      height: 6rem;
      justify-content: space-between;
      margin: auto;
      position: absolute;
      top: 26rem;
      left: 4.3rem;
      margin-top: 4rem;

      @include breakpoint('small') {
        left: 0rem;
      }

    }

    span {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3.5rem;
      position: relative;
    }

    .potdemiel-icon {
      &:before {
        width: 12rem;
        height: 12rem;
        top: 2.5rem;
        @include breakpoint('small') {
          width: 14rem;
          height: 14rem;
          top: 12.5rem;
          left: 9rem;
        }
      }
    }

    .overlay {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      top: 0;
      position: absolute;
      left: 0;

      .gift-one-icon {
        position: absolute;
        top: 3rem;
        right: 6rem;
        transform:translate(0%,-50%);
        z-index:3;
        animation: float 5s ease-in-out infinite;
        transition: all .6s;

        @include breakpoint('small') {
          top: 2rem;
          right: 6rem
        }
        &:hover {
          transition: all .3s;
          width: 11rem;
          height: 11rem;
          &:before {
            transition: all .3s;
            width: 11rem;
            height: 11rem;
            transform: rotateZ(-15deg);
          }
        }
        &:before {
          transform: rotateZ(10deg);
          @include breakpoint('small') {
            top: 0rem;
            right: 2.4rem;
          }
        }
      }

      .gift-two-icon {
        position: absolute;
        top: 5rem;
        left: 3rem;
        transform:translate(0%,-50%);
        z-index:3;
        animation: float 2.5s ease-in-out infinite;
        transition: all .6s;
        @include breakpoint('small') {
          left: .5rem;
          top: 16rem;
        }

        &:hover {
          transition: all .3s;
          width: 9rem;
          height: 9rem;
          &:before {
            transition: all .6s;
            width: 9rem;
            height: 9rem;
            transform: rotateZ(13deg);
          }
        }
        &:before {
          transform: rotateZ(-6deg);
        }
      }

      .gift-three-icon {
        position: absolute;
        top: 4rem;
        left: 15rem;
        transform:translate(0%,-50%);
        z-index:3;
        animation: float 3s ease-in-out infinite;
        transition: all .6s;
        @include breakpoint('small') {
          width: 6rem;
          top: 14rem;
          left: 22rem
        }

        &:hover {
          transition: all .3s;
          width: 8rem;
          height: 8rem;
          &:before {
            transition: all .3s;
            width: 8rem;
            height: 8rem;
            transform: rotateZ(23deg);
          }
        }
        &:before {
          transform: rotateZ(3deg);
        }
      }

      @keyframes float {
        0% {
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
          transform: translatey(0px);
        }
        50% {
          box-shadow: 0 25px 15px 0px rgba(0,0,0,0);
          transform: translatey(-30px);
        }
        100% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0);
          transform: translatey(0px);
        }
      }
    }
  }

  .disclaimer {
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;

    @include breakpoint('small') {
      margin-top: 25rem;
    }
    span {
      color: #2d2d2d;
      font-weight: bold;
      line-height: 3rem;
      font-size: 24px;

      @include breakpoint('small') {
        font-size: 18px;
      }
    }
  }

  .first-title {
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint('small') {
      margin-top: 1.5rem;
    }

    .left {
      &:before {
        left: -5rem;
        top: .3rem
      }
    }
    .right {
      &:before {
        right: -5rem;
        top: .3rem
      }
    }

    .first {
      display: flex;
      justify-content: space-between;
      content: '';
      background-image: url('../../assets/firstprice.png');
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      width: 28rem;
      height: 6rem;
      margin: 0 auto;

      @include breakpoint('small') {
        width: 27rem;
        height: 6rem;
        margin: 4rem 0 2rem 0;
      }
    }
  }

  .second-title {
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint('small') {
      margin-top: 1.5rem;
    }

    .left {
      &:before {
        left: -5rem;
        top: .3rem
      }
    }
    .right {
      &:before {
        right: -5rem;
        top: .3rem
      }
    }

    .first {
      display: flex;
      justify-content: space-between;
      content: '';
      background-image: url('../../assets/secondprice.png');
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      width: 28rem;
      height: 6rem;
      margin: 0 auto;

      @include breakpoint('small') {
        width: 27rem;
        height: 6rem;
        margin: 4rem 0 2rem 0;
      }
    }
  }

  .third-title {
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint('small') {
      margin-top: 1.5rem;
    }

    .left {
      &:before {
        left: -5rem;
        top: .3rem
      }
    }
    .right {
      &:before {
        right: -5rem;
        top: .3rem
      }
    }

    .first {
      display: flex;
      justify-content: space-between;
      content: '';
      background-image: url('../../assets/thirdprice.png');
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      width: 28rem;
      height: 6rem;
      margin: 0 auto;

      @include breakpoint('small') {
        width: 27rem;
        height: 6rem;
        margin: 4rem 0 2rem 0;
      }
    }
  }

  .price {
    margin: 3rem auto 2rem auto;

    @include breakpoint('small') {
      margin-top: 1.5rem;

    }
    .title {
      font-size: 35px;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
      line-height: 1.4rem;
      position: relative;

      @include breakpoint('small') {
        font-size: 26px;
        line-height: 2.5rem;
      }
    }

    .badge {
      position: absolute;
      border-radius: 0.5rem;
      padding: 0.5rem;
      background-color: #d74b44;
      font-size: 0.9rem;
      z-index: 3;
      border-bottom: .2rem solid #9c3530;
      border-top: .2rem solid #d74b44;
      top: 64px;
      border-right: hidden;
      right: -2.5rem;

      @include breakpoint('small') {
        font-size: 1rem;
        top: 88px;
        right: 0.3rem;
      }
    }
    .sub {
      color: #8f8f8f;
      font-weight: bold;
      font-style: italic;
      font-size: 25px;
      text-align: center;

      @include breakpoint('small') {
        font-size: 18px;
        top: -.5rem;
        position: relative;
      }
    }
  }

  .gallery {
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    .big-first {
      cursor: pointer;
      height: 22rem;
      width: 36rem;
      border-radius: .5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-bottom: .8rem;
      background-image: url('../../assets/concours/honey-big.jpg');
      transition: all, .2s;
      filter: contrast(120%);

      @include breakpoint('small') {
        width: 95%;
      }

      &:hover {
        transition: all, .2s;
        filter: contrast(140%);
      }
    }

    .big-second {
      cursor: pointer;
      height: 22rem;
      width: 36rem;
      border-radius: .5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-bottom: .8rem;
      background-image: url('../../assets/concours/minora-big.jpg');
      transition: all, .2s;
      filter: contrast(120%);

      @include breakpoint('small') {
        width: 95%;
      }

      &:hover {
        transition: all, .2s;
        filter: contrast(140%);
      }
    }

    .big-third {
      cursor: pointer;
      height: 22rem;
      width: 36rem;
      border-radius: .5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      margin-bottom: .8rem;
      background-image: url('../../assets/concours/pack-big.png');
      transition: all, .2s;
      filter: contrast(120%);

      @include breakpoint('small') {
        width: 95%;
      }

      &:hover {
        transition: all, .2s;
        filter: contrast(140%);
      }
    }

    .thumbs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 36rem;
      @include breakpoint('small') {
        width: 95%;
      }
      .thumb {
        cursor: pointer;
        height: 8rem;
        width: 8rem;
        border-radius: .5rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 7rem;
        width: 11.4rem;
        filter: contrast(120%);

        @include breakpoint('small') {
          height: 7rem;
          width: 31.5%;
        }

        &:hover {
          transition: all, .2s;
          filter: contrast(140%);
        }
      }

      .pic-one-first {
        background-image: url('../../assets/concours/honey-1.jpg');
      }

      .pic-two-first {
        background-image: url('../../assets/concours/honey-2.jpg');
      }

      .pic-three-first {
        background-image: url('../../assets/concours/honey-3.jpg');
      }

      .pic-one-second {
        background-image: url('../../assets/concours/minora-1.jpg');
      }

      .pic-two-second {
        background-image: url('../../assets/concours/minora-2.jpg');
      }

      .pic-three-second {
        background-image: url('../../assets/concours/minora-3.jpg');
      }

      .pic-one-third {
        background-image: url('../../assets/concours/pack-1.jpg');
      }

      .pic-two-third {
        background-image: url('../../assets/concours/pack-2.jpg');
      }

      .pic-three-third {
        background-image: url('../../assets/concours/pack-3.jpg');
      }
    }
  }

  .youtube-icon {
    position: absolute;
    bottom: 0px;
    left: -3rem;
    @include breakpoint('small') {
      left: -1.4rem
    }
  }

  .green-btn {
    letter-spacing: .15rem;
    margin-top: 1rem;
    width: 36rem;
    word-spacing: .25em;
    font-size: 18px;
    width: 36rem;

    @include breakpoint('small') {
      width: 95%!important;
      font-size: 12px;
    }
  }

}

.popup {
  max-height: 80%;

  margin-left: 6rem;
  @include breakpoint('small') {
    margin-left: 0;
    max-height: 60%;
  }
}

.separator {
  margin: auto;
  background-color: rgb(83, 83, 83);
  height: 2px;
  border-bottom: 2px solid rgb(41, 41, 41);
}

.stepper {
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3rem 2rem;
  border: .3rem dashed #adadad;
  border-radius: 1rem;

  span {
    font-size: 20px;
    margin-left: 2rem;
    font-weight: bold;
  }

  .red {
    color: #d74444;
    background-color: transparent!important;
  }
  .green {
    color: #62d744;
    background-color: transparent!important;
  }
  .blue {
    color: #57aedb;
    background-color: transparent!important;
  }
  .grey {
    color: #464655;
    background-color: transparent!important;
  }

  .checked {
    background-color: #a0e68d;
  }
  .deleted {
    background-color: #f08484;
  }
  .waited {
    background-color: #9ad3f0;
  }
  .locked {
    background-color: #464655 ;
  }

  .left, .right {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .line {
    display: flex;
    justify-content: space-between;
    min-height: 9rem;
    align-items: center;
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 360px;
    width: 9rem;
    height: 9rem;
  }

  .v-line {
    position: relative;
    width: 5px;
    height: 2.5rem;
    margin: 0;
    left: 4.3rem;
  }
}

.red-btn {
  @include breakpoint('small') {
    margin: auto!important;
    margin-top: 3rem!important;
    max-width: 26rem!important;
    font-size: 18px!important;
    padding: 2rem 1rem!important;
    line-height: 4rem!important;
  }
}

h5 {
  @include breakpoint('small') {
    font-size: 2.4rem !important;
  }
}

.green-static-btn {
  text-align: center;
  color: #62d744;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: initial;
  transition: all 0.2s;
  border: 0.3rem dashed #62d744;
}

.green-txt {
  color: #62d744;
}

.red-txt {
  color: #d74444;

}
