<div class="row">
  <div class="landing-page-container  col-sm-12">
    <div id="landingRef" class="landing row">

    <div class="col-sm-12">
      <div class="head">
        <span class="mobile-hide" style="top: -2rem;">concours</span>

        <div class="desk-hide mobile-cont d-flex flex-column">
          <span style="top: -2rem;">concours</span>
          <span style="top: -2rem;">fourmis<span style="color:#62d744">labs</span></span>
        </div>

        <i class="potdemiel-icon animate__animated animate__bounceIn"></i>
        <span class="mobile-hide" style="top: -2rem;">fourmis<span style="color:#62d744">labs</span></span>
        <div class="overlay">
          <i class="gift-one-icon"></i>
          <i class="gift-two-icon"></i>
          <i class="gift-three-icon"></i>
        </div>
      </div>

      <div class="col-sm-12 col-md-9 disclaimer">
        <span>
          Pour les <span style="color:#62d744">300 membres inscrits</span> sur l’application, nous avons décidé
          de fêter çà avec vous tous, en vous gâtant avec des lots incroyables.<br/>
          Pour participer, <span style="color:#62d744">inscrivez-vous </span>
          en bas de page, puis <span style="color:#62d744">suivez les différentes étapes</span> afin d'obtenir votre chance d’obtenir nos différents lots !
        </span>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-8 first-title">
          <i class="medal-first"></i>
          <div class="first">
            <i class="medal-first-icon left"></i>
            <i class="medal-first-icon right"></i>
          </div>
        </div>
        <div class="price col-sm-12">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <span class="title">Myrmecocystus Mendax</span>
            <span class="sub">(fourmi pot-de-miel)</span>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
