@import '../../styles/global/mixins';

:host {

}

.partner {
  height: 15rem;
  position: relative;
  margin: 0 3rem;
}

.antsfourmis-cont {
  cursor: pointer;
  overflow: hidden;
  border-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  .antsfourmis-logo {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 150px;
    width: 150px;
    background-image: url('../../assets/antsfourmis.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &:hover {
      .ants {
        bottom: 0;
        transition: all, .2s;
      }
    }

    .ants {
      background-image: url('../../assets/ants.png');
      height: 120px;
      width: 120px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      bottom: -110px;
      left: 1.1rem;
      position: absolute;
      transition: all, .9s;
    }
  }
}

.fourmiculture-cont {
  cursor: pointer;
  overflow: hidden;
  border-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  transition: all, .5s;

  &:hover {
    transform: rotate(360deg);
    transition: all, .3s;
    .fourmiculture-logo {
      background-image: url('../../assets/fourmiculture-on.png');
      transition: all, 1s;
    }
  }

  .fourmiculture-logo {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 150px;
    width: 150px;
    background-image: url('../../assets/fourmiculture-off.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

.register {
  max-width: 24rem;
  margin: 4rem auto;
  padding: 2rem;
  letter-spacing: .1rem;
  font-size: 2.5rem;
}

.medal-first-icon {
  @include breakpoint('small') {
    display: none!important
  }
}

.landing-page-container {
  height: calc(100vh - 10rem);

  h6 {
    border-bottom: 3px solid #d6d6d6;
    padding-bottom: .3rem;
    margin-bottom: 2rem;
    line-height: 3.8rem;
  }

  .landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    margin: 1.7rem 0;
  }

  .landing {
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
    border-bottom: 0.2rem solid #bdbdbd;
    min-height: 100%;
    margin: 0;

    @include breakpoint('small') {
      margin-top: 4rem;
    }
  }

  .head {
    border-radius: 5rem;
    text-align: center;
    position: relative;
    background-image: url('../../assets/concours-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    width: 100%;
    height: 15rem;

    .mobile-hide {
      display: none!important;
      @include breakpoint('large') {
        display: inline-block!important;
      }
    }

    .desk-hide {
      display: none!important;
      @include breakpoint('small') {
        display: flex!important;
      }
    }

    .mobile-cont {
      height: 6rem;
      justify-content: space-between;
      margin: auto;
      position: absolute;
      top: 26rem;
      left: 4.3rem;
      margin-top: 4rem;

    }

    // @include breakpoint('small') {
    //   height: 9rem;
    //   left: 0rem;
    // }

    span {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3.5rem;
      position: relative;
    }

    .potdemiel-icon {
      &:before {
        width: 12rem;
        height: 12rem;
        top: 2.5rem;
        @include breakpoint('small') {
          width: 14rem;
          height: 14rem;
          top: 10rem;
          left: 9rem;
        }
      }
    }

    .overlay {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      top: 0;
      position: absolute;
      left: 0;

      .gift-one-icon {
        position: absolute;
        top: 3rem;
        right: 6rem;
        transform:translate(0%,-50%);
        z-index:3;
        animation: float 5s ease-in-out infinite;
        transition: all .6s;

        @include breakpoint('small') {
          top: 2rem;
          right: 6rem
        }
        &:hover {
          transition: all .3s;
          width: 11rem;
          height: 11rem;
          &:before {
            transition: all .3s;
            width: 11rem;
            height: 11rem;
            transform: rotateZ(-15deg);
          }
        }
        &:before {
          transform: rotateZ(10deg);
          @include breakpoint('small') {
            top: -1rem;
            right: 3.4rem;
          }
        }
      }

      .gift-two-icon {
        position: absolute;
        top: 1.6rem;
        left: 3rem;
        transform:translate(0%,-50%);
        z-index:3;
        animation: float 2.5s ease-in-out infinite;
        transition: all .6s;
        @include breakpoint('small') {
          left: .5rem;
          top: 5rem;
        }

        &:hover {
          transition: all .3s;
          width: 9rem;
          height: 9rem;
          &:before {
            transition: all .6s;
            width: 9rem;
            height: 9rem;
            transform: rotateZ(13deg);
          }
        }
        &:before {
          transform: rotateZ(-6deg);
        }
      }

      .gift-three-icon {
        position: absolute;
        top: 4rem;
        left: 15rem;
        transform:translate(0%,-50%);
        z-index:3;
        animation: float 3s ease-in-out infinite;
        transition: all .6s;
        @include breakpoint('small') {
          width: 6rem;
          top: 9rem;
          left: 26rem
        }

        &:hover {
          transition: all .3s;
          width: 8rem;
          height: 8rem;
          &:before {
            transition: all .3s;
            width: 8rem;
            height: 8rem;
            transform: rotateZ(23deg);
          }
        }
        &:before {
          transform: rotateZ(3deg);
        }
      }

      @keyframes float {
        0% {
          box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
          transform: translatey(0px);
        }
        50% {
          box-shadow: 0 25px 15px 0px rgba(0,0,0,0);
          transform: translatey(-30px);
        }
        100% {
          box-shadow: 0 5px 15px 0px rgba(0,0,0,0);
          transform: translatey(0px);
        }
      }
    }
  }

  .disclaimer {
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;

    @include breakpoint('small') {
      margin-top: 27rem;
    }
    span {
      color: #2d2d2d;
      font-weight: bold;
      line-height: 3rem;
      font-size: 24px;

      @include breakpoint('small') {
        font-size: 19px;
      }
    }
  }

  .first-title {
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint('small') {
      margin-top: 3rem;
    }

    .left {
      &:before {
        left: -5rem;
        top: .3rem
      }
    }
    .right {
      &:before {
        right: -5rem;
        top: .3rem
      }
    }

    .first {
      display: flex;
      justify-content: space-between;
      content: '';
      background-image: url('../../assets/firstprice.png');
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      width: 28rem;
      height: 6rem;
      margin: 0 auto;

      @include breakpoint('small') {
        width: 27rem;
        height: 6rem;
      }
    }
  }

  .price {
    margin-top: 3rem;

    @include breakpoint('small') {
      margin-top: 1.5rem;
    }
    .title {
      font-size: 35px;
      font-weight: bold;
      margin-bottom: .8rem;
      text-align: center;
      line-height: 1.4rem;

      @include breakpoint('small') {
        font-size: 26px;
      }
    }
    .sub {
      color: #8f8f8f;
      font-weight: bold;
      font-style: italic;
      font-size: 25px;

      @include breakpoint('small') {
        font-size: 20px;
      }
    }
  }

}
