<div *ngIf="currentUser?.role === 'admin'" class="row">

  <app-popup [data]='data' style="height:100vh;position:fixed!important" id='gallery' class="animate__animated animate__fadeIn">
    <div style="background:transparent;" id="popup" class="popup animate__animated animate__zoomInUp">

      <img src="{{data}}" id="picture" alt="">
      <button type="button" class='close-popup animate__animated animate__bounce animate__delay-05s' (click)="closePopup('gallery'); $event.stopPropagation()">
        <i class="close-icon "></i>
      </button>
    </div>
  </app-popup>

  <div class="landing-page-container col-sm-12">
    <div class="landing">

    <div class="col-sm-12">
      <div class="head">
        <div style="position:relative;margin: 0 auto" class="mobile-hide">
          <i class="potdemiel-icon"></i>
        </div>

        <i class="desk-hide potdemiel-icon animate__animated animate__fadeIn"></i>
        <div class="desk-hide logotext-cont d-flex flex-column">
          <span>concours</span>
          <span>fourmis<span style="color:#62d744">labs</span></span>
        </div>

        <div class="overlay">
          <span class="mobile-hide" style="right:3rem">concours</span>
          <span class="mobile-hide" style="left:8rem">fourmis<span style="color:#62d744">labs</span></span>
          <i class="gift-one-icon"></i>
          <i class="gift-two-icon"></i>
          <i class="gift-three-icon"></i>
        </div>
      </div>

      <div class="col-sm-12 col-md-9 disclaimer">
        <span>
          Pour les <span style="color:#62d744">300 membres</span> inscrits sur l’application, nous avons décidé
          de fêter çà avec vous tous, en vous gâtant avec des cadeaux incroyables.<br/><br/>
          Pour participer, c'est très simple, <span (click)='scrollDown()' style="color:#62d744;text-decoration: underline;cursor:pointer">inscrivez-vous</span>
          en bas de page, puis <span style="color:#62d744">suivez les différentes étapes</span> afin de tenter votre chance pour obtenir un des différents lots mis en jeu!
        </span>
      </div>

      <div style="margin:4rem 0" class="col-sm-12">
        <h5 class="partner-title">Avec comme partenaires exceptionnels</h5>
      </div>

      <div class="col-sm-12 d-flex justify-content-center align-items-center flex-md-row flex-column">
        <div class="d-flex flex-column align-items-center partner">
          <span style="font-size: 22px;font-weight:bold;text-transform: uppercase;margin-bottom:1rem">Antsfourmis</span>
          <a (mouseover)="showYoutube = true" (mouseleave)="showYoutube = false" style="text-decoration: none;" target="_blank" href="https://www.youtube.com/channel/UCgyGS-JuEnw55L7fFk6R2zQ">
            <div class="antsfourmis-cont">
              <div class="antsfourmis-logo">
                <div class="ants"></div>
              </div>
            </div>
            <i *ngIf="showYoutube" class="animate__animated animate__jello youtube-icon"></i>
          </a>
        </div>

        <div class="d-flex flex-column align-items-center partner">
          <span style="font-size: 22px;font-weight:bold;text-transform: uppercase;margin-bottom:1rem">Fourmiculture</span>
          <a style="text-decoration: none;" target="_blank" href="https://fourmiculture.com/fr">
            <div class="fourmiculture-cont">
              <div class="fourmiculture-logo">
                <div class="ants"></div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div id="galleryRef" class="row">
        <div class="col-sm-12 col-md-8 first-title">
          <div class="first">
            <i class="medal-first-icon left"></i>
            <i class="medal-first-icon right"></i>
          </div>
        </div>
        <div class="price col-sm-12 col-md-8">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <span class="title">Myrmecocystus Mendax
              <div class="badge">GYNE + OUVRIERE (2021)</div>
            </span>
            <span class="sub">(fourmi pot-de-miel)</span>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="gallery col-sm-12 col-md-6">
          <div (click)="openPopup('gallery', firstPrice[0])" class="big-first"></div>
          <div class="thumbs">
            <div (click)="openPopup('gallery', firstPrice[1])" class="thumb pic-one-first"></div>
            <div (click)="openPopup('gallery', firstPrice[2])" class="thumb pic-two-first"></div>
            <div (click)="openPopup('gallery', firstPrice[3])" class="thumb pic-three-first"></div>
          </div>
          <span style="
          text-align: center;
          margin: 3rem 0 2rem 0;
          font-size: 1.4rem;
          max-width: 40rem;
      ">Ces superbes fourmis sont renomées connues pour leurs <b>pots de miel</b>, des ouvrières très spéciales, qui sont utilisées comme une sorte d'entrepôt-citerne alimentaire.</span>

      <span style="
      text-align: center;
      margin: 0rem 0 2rem 0;
      font-size: 1.4rem;
      max-width: 40rem;
  ">
        Elles sont <b>très actives</b>, mais aussi <b>très agressives</b>, et feront de leur détenteur un fourmiculteur comblé ! Attention cependant à leur <b>difficulté de maintien</b> en élevage, notez également que leur <b>cycle de développement est très lent</b> pour les jeunes fondations.
      </span>
          <span class="prix">Valeur : 180€</span>
          <a href="http://www.fourmislabs.com/breedsheetviewer/myrmecocystus%20mendax">
            <div style="margin-top:1rem" class="green-btn">CONSULTER LA FICHE D'ELEVAGE</div>
          </a>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-8 second-title">
          <div class="first">
            <i class="medal-second-icon left"></i>
            <i class="medal-second-icon right"></i>
          </div>
        </div>
        <div class="price col-sm-12 col-md-8">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <span class="title">Fourmilière Plexi Minora
            </span>
            <span class="sub">(2.6 - Model 3 - Fourmiculture)</span>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="gallery col-sm-12 col-md-6">
          <div (click)="openPopup('gallery', secondPrice[0])" class="big-second"></div>
          <div class="thumbs">
            <div (click)="openPopup('gallery', secondPrice[1])" class="thumb pic-one-second"></div>
            <div (click)="openPopup('gallery', secondPrice[2])" class="thumb pic-two-second"></div>
            <div (click)="openPopup('gallery', secondPrice[3])" class="thumb pic-three-second"></div>
          </div>
          <span style="
              text-align: center;
              margin: 3rem 0 2rem 0;
              font-size: 1.4rem;
              max-width: 40rem;
          ">Fourmilière <b>Minora Model 3 hybride</b> avec humidificateur minéral remplaçable, bioplastique et Plexiglas® noir mat à liseré rouge. Pour un développement optimal des jeunes colonies et un design saisissant.</span>
          <span class="prix">Valeur : 89.90€</span>
           <a class="green-btn" style="margin-top:1rem;color: white;" target='_blank' href="https://fourmiculture.com/fr/produit/fourmiliere-plexi-minora-2-6-model-3/">
            VOIR LE NID EN BOUTIQUE
          </a>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12 col-md-8 third-title">
          <div class="first">
            <i class="medal-third-icon left"></i>
            <i class="medal-third-icon right"></i>
          </div>
        </div>
        <div class="price col-sm-12 col-md-8">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <span class="title">Trousse de fourmiculteur
            </span>
            <span class="sub">(Taille M avec pinces souples - Fourmiculture)</span>
          </div>

        </div>
      </div>
      <div style="margin-bottom: 2rem;" class="row">
        <div class="gallery col-sm-12 col-md-6">
          <div (click)="openPopup('gallery', thirdPrice[0])" class="big-third"></div>
          <div class="thumbs">
            <div (click)="openPopup('gallery', thirdPrice[1])" class="thumb pic-one-third"></div>
            <div (click)="openPopup('gallery', thirdPrice[2])" class="thumb pic-two-third"></div>
            <div (click)="openPopup('gallery', thirdPrice[3])" class="thumb pic-three-third"></div>
          </div>
          <span style="
              text-align: center;
              margin: 3rem 0 2rem 0;
              font-size: 1.4rem;
              max-width: 40rem;
          ">Moyenne Trousse d’élevage de fourmis avec des pinces souples et accessoires utiles pour gérer votre élevage de fourmis comme un professionnel.</span>
          <span class="prix">Valeur : 25€</span>
           <a class="green-btn" style="margin-top:1rem;color: white;" target='_blank' href="https://fourmiculture.com/fr/produit/trousse-de-fourmiculteur-taille-m-avec-pince-souple/">
            VOIR LE PRODUIT EN BOUTIQUE
          </a>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 separator"></div>

        <div *ngIf="!registered" class="col-sm-12">
          <div *ngIf="currentUser !== undefined" (click)="registerConcours()" style="margin:auto;margin-top:3rem;max-width:36rem;font-size:24px;padding:2rem" class="red-btn">JE M'INSCRIS AU CONCOURS</div>
        </div>

        <div *ngIf="registered" class="col-sm-12">
          <div class="animate__animated animate__pulse  animate__infinite green-static-btn">INSCRIPTION VALIDEE !</div>
        </div>


          <div *ngIf="registered" style="margin-top:3rem;padding: 1rem;border-radius:.5rem;border:2px dashed #345498" class="animate__animated animate__zoomIn animate__delay-05s offset-md-3 col-sm-12 col-md-6 facebook flex-column">
            <i style="margin-top: 2rem;cursor:pointer" class="facebook-icon"></i>
            <h6 *ngIf="!fb" style="border:none!important;color: #345498;margin-top:1rem;line-height:2rem;font-size:20px!important;text-align:center">Doublez vos chances de gagner !
              <a *ngIf="!fb" style="text-decoration:none" target="_blank" href="https://www.facebook.com/fourmislabs">
                <button style="margin:1rem auto" class="facebook-btn">suivez nous sur facebook</button>
              </a>
              puis inscrivez ici le nom <span style="font-weight:bold;text-decoration:underline;color: #345498;">COMPLET</span> de votre profil facebook</h6>
            <form *ngIf="!fb" class="d-flex justify-content-center flex-column"  [formGroup]="facebookForm" (ngSubmit)="facebook()" action="">
              <div class="d-flex">
                <input formControlName="prenom" placeholder="Prénom" class="col" style="background-color: #c1c1c1;margin:0 .5rem" type="text">
                <input formControlName="nom" placeholder="Nom" class="col" style="background-color: #c1c1c1;margin:0 .5rem" type="text">
              </div>
              <button (click)="facebookOk()" [disabled]="!facebookForm.valid" class="facebook-btn log-button mt-4" type="submit">ENVOYER !</button>
            </form>
            <div *ngIf='fb' class="d-flex">
              <div class="double">CHANCES DOUBLEES ! MERCI :)</div>
            </div>
          </div>


        <div *ngIf="currentUser?.role === 'admin'" style="margin: auto;margin-top:6rem" class="col-sm-12 admin">
          <h5 style="text-transform: uppercase;color: red;text-align:center">Admins only</h5>

          <div class="table-cont">
            <div class="table">
              <div class="header">
                <span style='text-align: center;text-transform: uppercase;'>Utilisateurs inscrits</span>
              </div>

              <div class="body">
                <div *ngFor='let user of usersList; index as i' class="line">
                  <span style="text-transform: lowercase;">#{{i+1}}</span>
                  <span style="text-transform: lowercase;">{{user.email}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h5 style="text-align: center;margin-top:4rem;color:#3c3c3c">ETAPES A COMPLETER <span [ngClass]="registered ? 'green-txt' : 'red-txt'">({{
          currentUser
          ? registered ? 2 : 1
          : registered ? 1 : 0

        }}/2)</span></h5>

        <div style="margin: auto;" class="col-sm-12 col-md-7">
          <div class="stepper">
            <div class="mobile-steps">
              <span style="top: 0;position: relative;" [ngClass]="currentUser ? 'green' : 'redd'">1 - Être inscrit sur Fourmilabs.com</span>
              <span style="top: -2px;position: relative;" [ngClass]="registered ? 'green' : 'redd'">2 - Soumettre sa participation au concours</span>
              <span style="top: -3px;position: relative;" class="blue">3 - Ouverture des inscriptions (22.09.21)</span>
              <span style="top: -4px;position: relative;" class="grey">4 - Clotûre des inscriptions (10.10.21)</span>
              <span style="top: -5px;position: relative;" class="grey">5 - Tirages au sort et résultats (15.10.21)</span>
            </div>
            <div class="d-flex flex-column left">
            <div class="line">
              <div [ngClass]="currentUser ? 'checked' : 'deleted'" class="circle">
                <i [ngClass]="currentUser ? 'checked-icon' : 'deleted-icon'"></i>
              </div>
              <span [ngClass]="currentUser ? 'green' : 'redd'" class="desktop-steps">1 - Être inscrit sur Fourmilabs.com</span>
            </div>
            <div [ngClass]="currentUser ? 'checked' : 'deleted'" class="v-line"></div>
            <div class="line">
              <div [ngClass]="registered ? 'checked' : 'deleted'" class="circle">
                <i [ngClass]="registered ? 'checked-icon' : 'deleted-icon'"></i>
              </div>
              <span [ngClass]="registered ? 'green' : 'redd'" class="desktop-steps">2 - Soumettre sa participation au concours</span>
            </div>
            <div  [ngClass]="registered ? 'checked' : 'deleted'" class="v-line"></div>
            <div class="line">
              <div class="circle waited">
                <i class="waited-icon"></i>
              </div>
              <span class="blue desktop-steps">3 - Ouverture des inscriptions (22.09.21)</span>
            </div>
            <div class="v-line waited"></div>
            <div class="line">
              <div class="circle locked">
                <i class="locked-icon"></i>
              </div>
              <span class="grey desktop-steps">4 - Clotûre des inscriptions (10.10.21)</span>

            </div>
            <div class="v-line locked"></div>
            <div class="line">
              <div class="circle locked">
                <i class="locked-icon"></i>
              </div>
              <span class="grey desktop-steps">5 - Tirages au sort et résultats (15.10.21)</span>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="currentUser === undefined || currentUser?.role !== 'admin'" class="countdown col-sm-12" simpleCountdown [dateTo]="1632322800"></div>

<div *ngIf="currentUser === undefined || currentUser?.role !== 'admin'" style="height:85vh;background-color: white;overflow:hidden" class="row">

  <div class="d-flex flex-column" style="margin: auto">
    <span style="margin:0 auto;text-align: center;font-weight: bold;margin-bottom: 5rem;font-size: 2.5rem;background-color:#1c1b1a;color: white;padding: 1rem;max-width: 65rem;">OUVERTURE DES INSCRIPTIONS A 17h00</span>
    <img style="margin: 0 auto" src="../../assets/concours/banniere.png" class="banniere" alt="">
  </div>
</div>



