  <form [formGroup]="diapauseForm">
      <div *ngIf="!diapauseFound" class="schedule">
      <div class=" d-flex justify-content-around">
        <div class="form-check">
          <input
          (input)="switchSchedule();returnSchedule()"
          type="radio"
          formControlName="schedule"
          class="form-check-input"
          id="autoStart"
          [value]='false'
          />
          <span
          class="form-check-label">Start today</span><span tooltipClass="antslab-tooltip"
          placement="top"
          ngbTooltip="Start a diapause from now" class="info">?</span>
        </div>

        <div class="form-check">
          <input
          [disabled]="diapauseSchedule"
          (input)="switchSchedule();returnSchedule()"
          type="radio"
          formControlName="schedule"
          class="form-check-input"
          id="schedule"
          [value]='true'
          />
          <span class="form-check-label">Schedule</span>
        </div>
      </div>
      <!-- // Start à partir d'aujourd'hui -->
      <div *ngIf="!diapauseSchedule && !diapauseStart" class="form-row direct-start">
        <div class="form-group col-md-6">
          <label for="">Start date</label>
          <input
          [disabled]='true'
          [value]="startDate | date:'yyyy-MM-dd, hh:mm'"
          (input)="startDate=$event.target.value;returnStartDate(startDate)"
          placeholder="{{startDate | date: 'yyyy-MM-dd, hh:mm'}}"
          class="form-control date-input">
        </div>
        <div class="form-group col-md-6">
          <label for="">End date</label>
          <input
          type="text" min="startDate"
          placeholder="{{endDate  | date:'yyyy-MM-dd, hh:mm'}}"
          onfocus="(this.type='datetime-Local')"
          onblur="(this.type='text')"
          [value]="endDate | date:'yyyy-MM-dd,hh:mm'"
          (input)="endDate=$event.target.value;returnEndDate(endDate)"
          class="form-control date-input">
        </div>
      </div>

      <!-- // Start défini à une date ultérieure -->
      <div *ngIf="diapauseSchedule && !diapauseStart" class="form-row schedule-start">
        <div class="form-group col-md-6">
          <label for="">Start date</label>
          <input
          [value]="startDate | date:'yyyy-MM-dd, hh:mm'"
          onfocus="(this.type='datetime-Local')"
          onblur="(this.type='text')"
          (input)="startDate=$event.target.value;returnStartDate(startDate)"
          placeholder="{{startDate | date: 'yyyy-MM-dd, hh:mm'}}"
          class="form-control date-input">
        </div>
        <div class="form-group col-md-6">
          <label for="">End date</label>
          <input
          (change)="endDate"
          type="text" placeholder="{{endDate | date:'yyyy-MM-dd, hh:mm'}}"
          onfocus="(this.type='datetime-Local')" onblur="(this.type='text')"
          [value]="endDate | date:'yyyy-MM-dd, hh:mm'"
          (input)="endDate=$event.target.value;returnEndDate(endDate)"
          class="form-control date-input">
        </div>
      </div>
      <span class="animate__animated animate__fadeInDown badge-invalid" *ngIf='!dateCheck'>End date can't be lower than start date, and start date can't be higher than end date!</span>

      <!-- // Définir la temperature de départ de diapause -->
      <div *ngIf="!diapauseStart" style="margin-top:1rem" class="d-flex flex-column">
        <label for="">Select Start Temperature</label>
        <select
        [(ngModel)]="sheet?.diapauseTemperature[0].diapauseTemperatureStart"
        (input)="temperatureStart=$event.target.value;returnStartTemperature(temperature)"
        class="btn-select mb-0 temperature-select" formControlName='currentTemperature'>
          <option *ngFor="let temp of temperatureList" [value]="temp.valeur">{{temp.valeur}}</option>
        </select>
      </div>
    </div>
    <div>
      <!-- // Modifier la temperature en cours de diapause -->
      <div *ngIf="diapauseFound && status !== 'ended' && status!== 'scheduled' && diapauseLoaded" style="margin:1rem 0" class="d-flex flex-column">
        <label for="">Current Temperature</label>
        <div class="d-flex">
          <select
          [(ngModel)]="sheet?.diapauseTemperature[0].diapauseTemperatureStart"
          (input)="temperatureCurrent=$event.target.value;returnCurrentTemperature(temperature)"
          style="flex-grow:1"
          class="btn-select mb-0 temperature-select" formControlName='currentTemperature'>
            <option *ngFor="let temp of temperatureList" [value]="temp.valeur">{{temp.valeur}}</option>
          </select>
          <button type="button" (click)="updateTemperature();openPopup('updateTemperaturePopup')" style="margin-left: 1rem;padding: 0.5rem .8rem;" class="green-btn"> <i style="margin-right:.5rem" class="reload-icon"></i> update</button>
        </div>
        <span class="animate__animated animate__fadeInDown badge-invalid" *ngIf='!checkTemperature'>You can't update the same value, select another one!</span>

      </div>
    </div>
  <form>

    <app-popup class="diapause-popup animate__animated animate__zoomIn" id='updateTemperaturePopup'>
      <div class="popup animate__animated animate__bounceInUp animate__delay-05s">
        <h6 style="font-size:2.2rem!important;text-transform:capitalize">Update temperature</h6>
        <div style="height:100%;top:0;padding: 2em 0;" class="popup-body d-flex flex-column">
          <i style="margin: 5rem auto 0" class="checked-icon"></i>
          <div style="font-weight:bold">Your <span class="success">current temperature</span> is updated!<span class="success"><br/>It has been stored in our database.</span></div>
          <div style="flex-grow: 1;align-items: flex-end;" class="d-flex w-100 justify-content-around">
            <button (click)="closePopup('updateTemperaturePopup');$event.stopPropagation()" class="green-btn">OK</button>
          </div>
        </div>
      </div>
    </app-popup>

