    <div *ngIf="!diapauseFound" class="schedule">
      <form [formGroup]="diapauseForm">
        <div class=" d-flex justify-content-around">
          <div class="form-check">
            <input
            (input)="switchSchedule();returnSchedule()"
            type="radio"
            formControlName="schedule"
            class="form-check-input"
            id="autoStart"
            [value]='false'
            />
            <span
            class="form-check-label">Start today</span><span tooltipClass="antslab-tooltip"
            placement="top"
            ngbTooltip="Start a diapause from now" class="info">?</span>
          </div>

          <div class="form-check">
            <input
            [disabled]="diapauseSchedule"
            (input)="switchSchedule();returnSchedule()"
            type="radio"
            formControlName="schedule"
            class="form-check-input"
            id="schedule"
            [value]='true'
            />
            <span class="form-check-label">Schedule</span>
          </div>
        </div>
        <!-- // Start à partir d'aujourd'hui -->
        <div *ngIf="!diapauseSchedule && !diapauseStart" class="form-row direct-start">
          <div class="form-group col-md-6">
            <label for="">Start date</label>
            <input
            [disabled]='true'
            [value]="startDate | date:'yyyy-MM-dd, hh:mm'"
            (input)="startDate=$event.target.value;returnStartDate(startDate)"
            placeholder="{{startDate | date: 'yyyy-MM-dd, hh:mm'}}"
            class="form-control date-input">
          </div>
          <div class="form-group col-md-6">
            <label for="">End date</label>
            <input
            type="text" min="startDate"
            placeholder="{{endDate  | date:'yyyy-MM-dd, hh:mm'}}"
            onfocus="(this.type='datetime-Local')"
            onblur="(this.type='text')"
            [value]="endDate | date:'yyyy-MM-dd,hh:mm'"
            (input)="endDate=$event.target.value;returnEndDate(endDate)"
            class="form-control date-input">
          </div>
        </div>

        <!-- // Start défini à une date ultérieure -->
        <div *ngIf="diapauseSchedule && !diapauseStart" class="form-row schedule-start">
          <div class="form-group col-md-6">
            <label for="">Start date</label>
            <input
            [value]="startDate | date:'yyyy-MM-dd, hh:mm'"
            onfocus="(this.type='datetime-Local')"
            onblur="(this.type='text')"
            (input)="startDate=$event.target.value;returnStartDate(startDate)"
            placeholder="{{startDate | date: 'yyyy-MM-dd, hh:mm'}}"
            class="form-control date-input">
          </div>
          <div class="form-group col-md-6">
            <label for="">End date</label>
            <input
            (change)="endDate"
            type="text" placeholder="{{endDate | date:'yyyy-MM-dd, hh:mm'}}"
            onfocus="(this.type='datetime-Local')" onblur="(this.type='text')"
            [value]="endDate | date:'yyyy-MM-dd, hh:mm'"
            (input)="endDate=$event.target.value;returnEndDate(endDate)"
            class="form-control date-input">
          </div>
        </div>
        <span class="animate__animated animate__fadeInDown badge-invalid" *ngIf='!dateCheck'>End date can't be lower than start date, and start date can't be higher than end date!</span>

        <!-- // Définir la temperature de départ de diapause -->
        <div *ngIf="!diapauseStart" style="margin-top:1rem" class="d-flex flex-column">
          <label for="">Select Start Temperature</label>
          <select [(ngModel)]="sheet?.diapauseTemperature[0].diapauseTemperatureStart" class="btn-select mb-0" formControlName='currentTemperature'>
            <option *ngFor="let temp of temperatureList" [value]="temp.valeur">{{temp.valeur}}</option>
          </select>
        </div>
        <!-- // Modifier la temperature en cours de diapause -->
        <div *ngIf="diapauseStart" style="margin-top:1rem" class="d-flex flex-column">
          <label for="">Select Current Temperature</label>
          <select [(ngModel)]="sheet?.diapauseTemperature[0].diapauseTemperatureStart" class="btn-select mb-0" formControlName='currentTemperature'>
            <option *ngFor="let temp of temperatureList" [value]="temp.valeur">{{temp.valeur}}</option>
          </select>
        </div>
          <!-- // Affichage des dates si la diapause est planifiée || en cours -->
          <!-- <div *ngIf="endDate && diapauseStart" class="line">
            <div style="margin-bottom: 10px;" class="date-cont">
              <span *ngIf="ended && !showCountdown" class="title">Started: </span>
              <span *ngIf="!showCountdown && !ended" class="title">Will start: </span>
              <span *ngIf="showCountdown && !ended" class="title">Started: </span>
              <span class='start-date'>{{startDate | date:'mediumDate'}}, {{startDate | date:'h:mm'}}</span>
            </div>
            <div class="date-cont">
              <span *ngIf="ended && !showCountdown" class="title">ended: </span>
              <span *ngIf="!showCountdown && !ended" class="title">will end: </span>
              <span *ngIf="showCountdown && !ended" class="title">Will end: </span>
              <span class='end-date'>{{endDate | date:'mediumDate'}}, {{endDate | date:'h:mm'}}</span>
            </div>

          </div> -->
      </form>
    </div>
