.schedule {
  justify-content: center;
  display: flex;
  flex-direction: column;
  form {
    // min-height: 22.5rem;
    display: flex;
    flex-direction: column;
  }
}

.info {
  cursor: pointer;
  position: absolute;
  right: -15px;
  top: -5px;
  background-color: #5bca3e;
  border-radius: 360px;
  width: 18px;
  height: 17px;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  color: white;
  padding-left: 1px;
  font-size: 13px;
}

.form-check {
  padding-left: 0!important;
  position: relative;

  input {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left:0!important;
    border-radius: 20px!important;
    width: 1.6rem!important;
    height: 1.6rem!important;

  }
  .form-check-label {
    font-size: 14px!important;
    font-size: 13px !important;
    margin: 0 !important;
    font-weight: bold;
    color: #838383;
  }
}

.form-control {
  font-size: 14px;
  margin-bottom: 0;
  background-color: white!important;

  &:disabled {
    background-color: #dadada!important;
    opacity: .5!important;
    border: none!important;
    border-bottom: 0.2rem solid #b0b0b0!important;
  }
  &:focus {
    background-color: rgb(164, 219, 255)!important;
    color:  rgb(25, 120, 184)!important;
  }
}

label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #4c4c4c;
}

input {
  height: 4rem;
  font-size: 1.8rem;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #dadada;
  opacity: 1;
  border: none;
  border-bottom: .2rem solid #b0b0b0;
}

.form-check-input {
  top: 0rem;
  border: none;
    height: 2rem !important;
    max-height: inherit!important;
    background-color: #cccccb;
    width: 2rem!important;
    border-radius: .5rem;
    box-shadow: inset 0 2px 0 rgb(84 94 111 / 20%);
    margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 0;
}

form select {
  background: rgb(255 255 255);
}
