<div class="row">
  <div class="breedsheet-container col-sm-12">
    <div class="breedsheet">
      <form style='margin:auto' [formGroup]="breedSheetForm" (ngSubmit)="add()" autocomplete="off" class="form-group col-md-8 mt-4">
      <div class="form-row mb-4">
        <div class="form-group col-md-3">
          <input placeholder="species" class="form-control" type="text" formControlName="species" />
        </div>
        <div class="form-group col-md-3">
          <input placeholder="subspecies" class="form-control" type="text" formControlName="subspecies"/>
        </div>
      </div>

      <div class="form-group flex-row mb-4">
        <select class="btn-select" formControlName='food' id="food">
          <option>select food</option>
        </select>
        <button>add</button>
      </div>

      <div class="form-group flex-row mb-4">
        <select class="btn-select" formControlName='food' id="food">
          <option>select region</option>
        </select>
        <button>add</button>

      </div>


      <div class="form-group mb-4">
        <input placeholder="regions" type="text" class="form-control" formControlName="pseudo">
      </div>
      </form>
    </div>
  </div>
</div>
