<div (window:resize)="onResize($event)" class="row">
  <div #mobile class="home-container col-sm-12">
    <div class="home">
      <div class="col-sm-12">
        <h6>Home</h6>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-7">
          <div #same class="d-flex antban">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <h6 class="title">
                WELCOME TO THE ALPHA <span class="release">V.0.10b</span> !
              </h6>
              <p class="disclaimer">
                <span class="important">Thank you for accepting our invitation</span> to the alpha-testing phase of the development of <span class="important">FourmisLabs.</span>
              </p>
              <p class="disclaimer hide-sm">We hope you’ll enjoy our features and more are about to come!</p>
              <p class="disclaimer hide-sm">Don’t hesitate to <span class="important">contact us</span> to give us user experience feedback, share bugs or ask for new fonctionalities or modifications of the existant ones.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="row">
            <div class="col-sm-12 col-md-6 create-breedsheet-container">
              <div #element class="breedhseet">
                <i class="breedsheetcreator-icon"></i>
                <h6>BREEDSHEET CREATOR IS RELEASED!</h6>
                <!-- <span class="hide-sm important">
                  Your species is missing ?
                  Start adding your own breedsheets to our database to be used by you and the Community!
                </span> -->
                <button (click)="goBreedSheet()" type="button" class="green-btn">create new species</button>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 discord">
                <div (click)="goDiscord()" #secondsame class="block">
                  <div class="discord-container">
                    <i class="discord-icon"></i>
                    <p class='important'>Join our community to speak with the developer and follow the development.</p>
                    <p>Or simply share your needs with the community!</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-5">
          <div class="last-news">
            <div class="d-flex align-items-center">
              <h6 class="tiny-title">
                <i class="news-icon"></i>
                Latest news
              </h6>
            </div>
            <div class="no-news">
              <i class="island-icon mb-4"></i>
              <div class="d-flex flex-column text">

                <span>Ooops!</span>
                <span>There are <span class="important">no news for the moment</span>.</span>
                <span>Maybe the next time :)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-7">
          <div class="row">
            <div class="col-sm-4">
              <div class="donations-title">
                <h6 class="tiny-title">
                  <i class="donation-icon"></i>
                  Support us!
                </h6>
              </div>

              <a class="linked" target="_blank" href="https://www.patreon.com/fourmislabs?fan_landing=true">
                <div class="donation">
                  <div class="d-flex align-items-center flex-column h-100 justify-content-between">
                    <!-- <i class="patreon-logo"></i> -->
                    <i class="piggybank-icon"></i>
                    <span>The app is <b>FREE</b> and <b>always</b> will be.</span>
                    <span>But you can <b>help the development</b> and costs of keeping it online.</span>
                    <button class="green-btn">DONATE !</button>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-4">
              <div class="donations-title">
                <h6 class="tiny-title">
                  <i class="roadmap-icon"></i>
                  Follow the roadmap
                </h6>
              </div>

              <a class="linked" target="_blank" href="https://www.patreon.com/fourmislabs?fan_landing=true">
                <div class="roadmap">
                  <div class="d-flex align-items-center  flex-column h-100 justify-content-between">
                    <i class="trello-logo"></i>
                    <span>Keep aware of the <b>development</b>.</span>
                    <span>Simply check our current and upcomming tasks on our <b>public Trello board</b>.</span>
                    <button class="blue-btn">CHECK</button>
                  </div>
                </div>
              </a>
            </div>
            <div *ngIf='(onlineUsers$ | async) as onlineUsers' class="col-sm-4">
              <div class="users-online">
                <div class="d-flex align-items-center">
                  <h6 class="tiny-title">
                    <i class="users-icon"></i>
                    Connected users ({{onlineUsers.length}})
                  </h6>
                </div>
                <div class="users-cont">
                  <span [ngClass]="user.role === 'admin' ? 'admin' : '' " class="users" *ngFor="let user of onlineUsers; index as i">{{ user.pseudo }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-container">
    <div class="loading"></div>
  </div>
</ng-template>
