<div class="row">
  <div class="admin-panel-container">
    <div id="adminRef" class="admin-panel">
      <div class="col-sm-12">
        <h6>Administration dashboard</h6>
      </div>
     <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="primal-stat">
          <div class="cont">
            <span class="number registered">252</span>
            <span class="description">registered users</span>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="primal-stat">
         <div class="cont">
          <span class="number colonies">827</span>
          <span class="description">colonies created</span>
         </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="primal-stat">
         <div class="cont">
          <span class="number pending">3</span>
          <span class="description">pending users</span>
         </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>
