.admin-panel-container {
  height: calc(100vh - 10rem);
}

.admin-panel {
  position: relative;
  background-color: white;
  border-radius: .5rem;
  border-bottom: .2rem solid #bdbdbd;
  padding: 2rem;
  min-height: 100%;
}

.primal-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 14rem;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: .5rem;
  border-bottom: .2rem solid #bdbdbd;
  position: relative;

  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      margin-bottom: 1rem;
    }
    .number {
      font-size: 5rem;
      font-weight: bold;
      margin-top: 1rem;
    }

    .description {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: #585858;
      font-weight: bold;
      margin-top: 3rem;
    }
  }

  .registered {
    color: #049ad9 ;
  }

  .colonies {
    color: #b804d9 ;
  }

  .breedsheet {
    color: #4ba932;
  }

  .pending {
    color: #d97204 ;
  }
}

.custom-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: .1rem solid #d1d1d1;

  .one, .two, .three, .four, .five, .six {
    justify-content: center;
    display: flex;
    padding: 1rem;
  }

  .one, .two, .three, .four, .five {
    border-right: .1rem solid #cacaca;
  }

  .two, .three, .four, .five, .six {
    border-left: .1rem solid #fefefe;
  }

  .one {
    min-width: 15%;
    max-width: 15%;
  }

  .two {
    min-width: 20%;
    max-width: 20%;
  }

  .three {
    min-width: 25%;
    max-width: 25%;
  }

  .four {
    min-width: 15%;
    max-width: 15%;
  }

  .five {
    min-width: 10%;
    max-width: 10%;
  }

  .six {
    min-width: 15%;
    max-width: 15%;
  }


  .head {
    display: flex;
    align-items: center;
    border-radius: .5rem .5rem 0 0;
    font-weight: bold;
    background-color: #d1d1d1;
    text-transform: capitalize;
  }

  .body {
    display: flex;
    flex-direction: column;
    .line {
      display: flex;
      align-items: center;
      &:nth-child(even) {
        background-color: white;
      }

      &:nth-child(odd) {
        background-color: #e4e4e4;
      }
    }
  }
}

