<div *ngIf='allUsers$ | async as users' class="row">
  <div class="admin-panel-container">
    <div id="adminRef" class="admin-panel">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <div class="primal-stat">
            <div class="cont">
              <i class="user-icon"></i>
              <span class="number registered">{{ users.length }}</span>
              <span class="description">registered users</span>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="primal-stat">
            <div class="cont">
              <i class="user-pending-icon"></i>
            <span class="number pending">0</span>
            <span class="description">pending users</span>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="primal-stat">
            <div class="cont">
              <i class="colonies-icon"></i>
            <span class="number colonies">827</span>
            <span class="description">colonies created</span>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="primal-stat">
            <div class="cont">
              <i class="breedsheet-icon"></i>
            <span class="number breedsheet">54</span>
            <span class="description">breeding sheets</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div style="margin-top: 2rem;" class="col-sm-12 col-md-9">
          <div class="custom-table user-table">
            <div class="head">
              <div class="one">
                <span>date</span>
              </div>
              <div class="two">
                <span>pseudo</span>
              </div>
              <div class="three">
                <span>email</span>
              </div>
              <div class="four">
                <span>status</span>
              </div>
              <div class="five">
                <span>role</span>
              </div>
              <div class="six">
                <span>colonies</span>
              </div>
            </div>
            <div class="body">
              <div *ngFor="let user of users; index as i" class="line">
                <div class="one">
                  <span>{{ user.created | date: 'dd/MM/yyyy' }}</span>
                </div>
                <div class="two">
                  <span>{{ user.pseudo }}</span>
                </div>
                <div class="three">
                  <span>{{ user.email }}</span>
                </div>
                <div class="four">
                  <span>{{ user.is_verified ? 'verified' : 'unverified' }}</span>
                </div>
                <div class="five">
                  <span>{{ user.role }}</span>
                </div>
                <div class="six">
                  <span>colonies</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <ngx-spinner *ngIf="(users | async)?.length" type="ball-scale-multiple" size="medium"></ngx-spinner> -->
  <div *ngIf="(users | async)?.length" class="youssef">LOADING</div>
</div>


